header.app-header
	div(style='position: relative;')
		div.wri-header-attribution
			div.inner A partnership convened by the Instituto del Bien Comun and the World Resources Institute in collaboration with numerous other organizations.
		nav(class='top-bar', role='navigation', data-topbar)
			ul.title-area
				li.name
					h1
						a Global Platform of Indigenous and Community Lands
				li(class='toggle-topbar menu-icon')
					a
						span
			section.top-bar-section
				ul.right
					li
						a(id='home-page-link', href='./index.html') Home
					li
						a(id='map-page-link', href='./map.html') Map
					li
						a(id='data-page-link', href='./data.html') Data
					li
						a(id='about-page-link', href='./about.html') About
					li
						a(id='contact-page-link', href='./contact.html') Contact Us