header.app-header
	div.wri-header-attribution
		div.inner A Partnership covened by the Instituto del Bien Comun and the World Resources Institute in collaboration with numerous other organizations.
	nav(class='top-bar', role='navigation', data-topbar)
		ul.title-area
			li.name
				h1
					a Global Map of Indigenous and Community Lands
			li(class='toggle-topbar menu-icon')
				a
					span
		section.top-bar-section
			ul.right
				li
					a(href='./') Home
				li
					a(href='./') Map
				li
					a(href='./data') Data
				li
					a(href='./about') About
				li
					a(href='./contact') Contact Us