header.app-header
	div(style='position: relative;')
		div.wri-header-attribution
			div.inner A Partnership covened by the Instituto del Bien Comun and the World Resources Institute in collaboration with numerous other organizations.
		nav(class='top-bar', role='navigation', data-topbar)
			ul.title-area
				li.name
					h1
						a Global Map of Indigenous and Community Lands
				li(class='toggle-topbar menu-icon')
					a
						span
			section.top-bar-section
				ul.right
					li
						a(id='home-page-link', href='./') Home
					li
						a(id='map-page-link', href='./') Map
					li
						a(id='data-page-link', href='./data') Data
					li
						a(id='about-page-link', href='./about') About
					li
						a(id='contact-page-link', href='./contact') Contact Us