div#brMap.brMap
	div.map-component.tree-widget-container.hideOnLoad#tree-widget-container
		div.tree-widget-title-pane#tree-title-pane
			span.tree-title-text.tree-width#tree-title
				span Land Recognition Status
			span.tree-container-toggle.pointer#tree-container-toggle &minus;
		div.tree-content.tree-width.active#tree-content
			div.tester
	div.map-component.geocoder-container.hideOnLoad#geocoder-container
		div#geocoder
	div.map-component.data-completeness-container.hideOnLoad#data-completeness-container
		span.data-completeness-toggle
			input(type='checkbox',value='complete',id='data-complete-checkbox')
		span.data-completeness-label Show Data Completeness
	div.map-component.analysis-button.hideOnLoad.pointer#analysis-button
		span.analysis-button-label Analysis
	div.map-component.button-widget.locator-button.pointer.hideOnLoad#locator-button
		div.locate-icon
	div.map-component.button-widget.basemap-button.pointer.hideOnLoad#basemap-button
		div.basemap-icon
	div.map-component.basemap-container.hidden
		div#basemap-gallery
	div.map-component.basemap-connector.connector.hidden
	div.map-component.legend-container#legend-container
		div.legend-title-pane
			span(class='legend-title pointer', title='Legend', id='legend-toggle') Legend
		div.legend-content.active
			div#legend
	div.map-component.button-widget.share-button.pointer.hideOnLoad#share-button