div#brMap.brMap
	div.map-component.tree-widget-container#tree-widget-container
	div.map-component.geocoder-container#geocoder-container
	div.map-component.analysis-button#analysis-button
	div.map-component.button-widget.locator-button.pointer#locator-button
		div.locate-icon
	div.map-component.button-widget.basemap-button.pointer#basemap-button
		div.basemap-icon
	div.map-component.basemap-container.hidden
		div#basemap-gallery
	div.map-component.basemap-connector.connector.hidden
	div.map-component.legend-container#legend-container
		div.legend-title-pane
			span(class='legend-title pointer', title='Legend', id='legend-toggle') Legend
		div.legend-content.active
			div#legend
	div.map-component.button-widget.share-button.pointer#share-button