div.mobile-menu#mobileMenu
	div.mobile-menu-close-button.pointer#mobile-menu-close
	div.menu-controls#menuControls
		span.segmented-menu-button.active.pointer#layersMenuButton Layers
		span.segmented-menu-button.pointer#legendMenuButton Legend
		span.segmented-menu-button.pointer#toolsMenuButton Tools
	div.mobile-menu-content.mobile-layers-content.active#mobile-layers-content
	div.mobile-menu-content.mobile-legend-content#mobile-legend-content
	div.mobile-menu-content.mobile-tools-content#mobile-tools-content
div#brMap.brMap
	//- HTML Entity for the Gear Icon (Unfortunately not supported in all browsers) - &#9881;
	div.map-component.mobile-menu-toggle-button.hideOnLoad.pointer#mobile-menu-toggle
	div.map-component.tree-widget-container.hideOnLoad#tree-widget-container
		div.tree-widget-title-pane#tree-title-pane
			span.tree-title-text.tree-width#tree-title
				span Land Recognition Status
			span.tree-container-toggle.pointer#tree-container-toggle &minus;
		div.tree-content.tree-width.active#tree-content
			div.tree-data-section
				div.radio-button-container
					input(type='radio',id='national-level-toggle',name='tree-data-toggle')
					label(for='national-level-toggle') National Level Data
				div.national-level-data-container.hidden#national-level-data-container
			div.tree-data-section
				div.radio-button-container
					input(type='radio',id='community-level-toggle',name='tree-data-toggle',checked='checked')
					label(for='community-level-toggle') Community Level Data
				div.community-level-data-container#community-level-data-container
					div#community-level-tree
	div.map-component.geocoder-container.hideOnLoad#geocoder-container
		div#geocoder
	div.map-component.data-completeness-container.hideOnLoad#data-completeness-container
		span.data-completeness-toggle
			input(type='checkbox',value='complete',id='data-complete-checkbox')
		span.data-completeness-label Show Data Completeness
			span.help-marker(style='margin-top: 9px;')
	div.map-component.analysis-button.hideOnLoad.pointer#analysis-button
		span.analysis-button-label Analysis
	div.map-component.button-widget.locator-button.pointer.hideOnLoad#locator-button
		div.locate-icon#location-widget
	div.map-component.button-widget.basemap-button.pointer.hideOnLoad#basemap-button
		div.basemap-icon
	div.map-component.basemap-container.hidden
		div#basemap-gallery
	div.map-component.basemap-connector.connector.hidden
	div.map-component.legend-container.hideOnLoad#legend-container
		div.legend-title-pane
			span(class='legend-title pointer', title='Legend', id='legend-toggle') Legend
				div(id="legend-toggle-icon")!='-'
		div.legend-content.active#legend-content
			div#legend
	div.map-component.button-widget.share-button.pointer.hideOnLoad#share-button
		div.share-icon
	div.map-component.share-container.hidden
		div#share-widgets
			.sharing_toolbox
				.addthis_sharing_toolbox(data-title='Global Forest Watch Commodities')
				div#embedShare
			//- div#twitterShare
			//- div#facebookShare
			//- div#moreShare
			//- div#emailShare
			//- div#googleShare
			//- 	a(href='https://plus.google.com/share?url={window.url}', onclick="javascript:window.open(this.href,\
			//- 	'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
			//- 		img(src='https://www.gstatic.com/images/icons/gplus-32.png', alt='Share on Google+')
			
	div.map-component.share-connector.connector.hidden