div.mobile-menu#mobileMenu
    div.mobile-menu-close-button.pointer#mobile-menu-close

div#reportMap.reportMap

    div.map-component.button-widget.share-button.pointer.hideOnLoad#share-button(title="Share")
        div.share-icon
    div.map-component.share-container.hidden
        div#share-widgets
            .sharing_toolbox
                .addthis_sharing_toolbox(data-title='Global Platform of Indigenous and Community Lands')
                div#embedShare
                div#twitterShare
                div#facebookShare
                div#moreShare
                div#emailShare
                div#googleShare
    div.map-component.share-connector.connector.hidden
    div.map-component.button-widget.print-button.pointer.hideOnLoad#print-button(title="Print")
        div.print-icon#print-widget
    div#print-button-tt.hideInMap 
      div#printToolIcon
      div#print-triangle-up
      div#printToolText Please disable pop-up blockers before using this tool
    div.map-component.print-connector.connector.hidden
    div#map-loading-icon.hideInMap
    
