div.mobile-menu#mobileMenu
    div.mobile-menu-close-button.pointer#mobile-menu-close

div#report-map-header
  div#country-name.country-name
  div#country-land-area.country-land-area
  div#country-hectares.country-area
  
div#reportMap.reportMap
    
div.report-component
  h3 Indigenous Peoples and Community Lands
  div.total-lands First chart goes here
    div#pct-ack-gov
    div#pct-no-ack-gov
    div#pct-total-ack
  div.comm-indig-lands Land Mapped on Landmark
    div#comm-ack-gov
    div#comm-no-ack-gov
    div#comm-total-ack
    div#indig-ack-gov
    div#indig-no-ack-gov
    div#indig-total-ack
div.report-component
  h3 Indicators of Legal Security
  div.indicator-table-container
    table
      tr.header-row
        td#average-score-comm
        td.middle-column AVERAGE SCORE
        td#average-score-indig
      tr
        td#legal-status-comm 
        td.middle-column Legal Status
        td#legal-status-indig
      tr
        td#land-rights-comm
        td.middle-column Land Rights and Common Property
        td#land-rights-indig
      tr
        td#formal-doc-comm
        td.middle-column Formal Documentation
        td#formal-doc-indig
      tr
        td#legal-person-comm
        td.middle-column Legal Person
        td#legal-person-indig
      tr
        td#legal-authority-comm
        td.middle-column Legal Authority
        td#legal-authority-indig
      tr
        td#right-consent-comm
        td.middle-column Rights to Consent
        td#right-consent-indig
      tr
        td#right-trees-comm
        td.middle-column Rights to Trees
        td#right-trees-indig
      tr
        td#right-water-comm
        td.middle-column Rights to Water
        td#right-water-indig
      tr
        td#land-rights-protected-comm
        td.middle-column Land Rights and Protected Areas
        td#land-rights-protected-indig
  div.indicator-footer-container
    h3.footer-header Indicators Scoring
    div.footer-child
      div.low 1
    div.footer-child
      div.medium 2
    div.footer-child
      div.high 3
    div.footer-child
      div.highest 4
