
/* line 286 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 40 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/config.styl */

/* line 3 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
body {
  font-family: Arial Narrow;
}

/* line 6 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#aboutTitle {
  text-align: center;
}

/* line 9 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.accordion-Controls {
  float: left;
  width: 300px;
  margin-left: 250px;
  position: relative;
  z-index: 5;
}

/* line 16 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.accordion-Title {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 55px;
  padding-left: 50px;
  background: #f2f2f3;
}

/* line 23 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.caret-down {
  display: inline-block;
  height: 10px;
  width: 8px;
  background: url("images/static-icons.png") 0 -222px no-repeat;
}

/* line 29 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.panel-Title {
  display: block;
  line-height: 56px;
  padding-left: 46px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  color: #464052;
  background: #f2f2f3;
  border-right: 1px solid #ccc;
}

/* line 41 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.about-Accordion-Title {
  text-align: center;
}

/* line 44 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.aboutImageLeft {
  cursor: pointer;
  margin-top: 400px;
}

/* line 48 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#wriLink {
  margin-top: 0;
}

/* line 52 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#waipt,
#rri,
#fpp,
#ilc,
#rfuk,
#fes,
#pafid,
#aman,
#ibc,
#wriDiv {
  width: 475px;
  float: right;
  margin-top: 0;
  mergin-left: 5px;
}

/* line 58 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#wriDiv {
  margin-top: -15px;
}

/* line 61 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#ibc {
  margin-top: -85px;
}

/* line 64 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#waipt {
  margin-top: -160px;
}

/* line 67 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#rri {
  margin-top: -240px;
}

/* line 70 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#fpp {
  margin-top: -120px;
}

/* line 73 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#ilc {
  margin-top: -70px;
}

/* line 76 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#rfuk {
  margin-top: -75px;
}

/* line 79 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#fes {
  margin-top: -70px;
}

/* line 82 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#pafid {
  margin-top: -65px;
}

/* line 85 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#aman {
  margin-top: -160px;
}

/* line 91 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#injectPartners > p {
  width: 475px;
  float: right;
  margin-top: 0;
  mergin-left: 5px;
}

/* line 97 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#rainForestUKLogo {
  background: url("images/rainUKLogo.png");
  height: 80px;
  width: 300px;
}

/* line 102 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.about-Accordion {
  float: left;
  width: 800px;
  border-left: 1px solid #ccc;
  padding: 10px 20px;
  margin-left: -1px;
}

/* line 109 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.aboutSteeringText li {
  list-style: none;
  padding-top: 10px;
}

/* line 113 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.active {
  background: #fff !important;
  border-bottom: 4px solid #036;
  border-right: none;
}

/* line 118 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
@media (max-width: 1500px) {

/* line 119 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .accordion-Controls {
    margin-left: 0px;
  }
}

/* line 122 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
@media (max-width: 1000px) {

/* line 123 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .about-Accordion {
    width: auto;
  }

/* line 125 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .aboutImageLeft {
    display: block;
    margin-top: 400px !important;
  }

/* line 128 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #wriDiv,
  #ibc,
  #waipt,
  #rri,
  #fpp,
  #ilc,
  #rfuk,
  #fes,
  #pafid,
  #aman,
  #injectPartners > p {
    margin-top: 0;
    float: left;
  }

/* line 131 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #wriLink {
    margin-top: 0 !important;
  }

/* line 133 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #pafidMedia,
  #fesMedia {
    margin-top: 475px !important;
  }

/* line 135 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #rightsMedia {
    margin-top: 450px !important;
  }
}
