
/* line 286 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 40 : /Users/lucascotner/Documents/Projects/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/config.styl */

/* line 3 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
body {
  font-family: Arial;
}

/* line 6 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
table {
  border: solid #ccc !important;
  border-width: 0 1px 1px 0 !important;
}

/* line 13 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
table td {
  border-left: solid 1px #dedede !important;
}

/* line 16 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
table tr:nth-child(even) {
  background: #f3f7fc !important;
}

/* line 19 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
table tr:not(:first-child),
table td {
  border-top: solid 1px #dedede !important;
}

/* line 22 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#aboutTitle {
  text-align: center;
  margin: 0 !important;
}

/* line 25 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#aboutTitle * {
  font-style: normal;
}

/* line 28 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.accordion-Controls {
  float: left;
  width: 300px;
  margin-left: 250px;
  position: relative;
  z-index: 5;
}

/* line 35 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.accordion-Title {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 55px;
  padding-left: 50px;
  background: #f2f2f3;
}

/* line 42 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.caret-down {
  display: inline-block;
  height: 10px;
  width: 8px;
  background: url("images/static-icons.png") 0 -222px no-repeat;
}

/* line 48 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.panel-Title {
  display: block;
  line-height: 56px;
  padding-left: 46px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  color: #464052;
  background: rgba(242,242,243,0.49) !important;
  border-right: 1px solid #ccc;
}

/* line 63 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.aboutImageLeft {
  cursor: pointer;
  margin-top: 400px;
}

/* line 67 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#wriLink {
  margin-top: 0;
}

/* line 71 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#waipt,
#rri,
#fpp,
#ilc,
#rfuk,
#fes,
#pafid,
#aman,
#ibc,
#wriDiv {
  width: 475px;
  float: right;
  margin-top: 0;
  mergin-left: 5px;
}

/* line 77 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#wriDiv {
  margin-top: -15px;
}

/* line 80 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#ibc {
  margin-top: -85px;
}

/* line 83 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#waipt {
  margin-top: -100px;
}

/* line 86 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#rri {
  margin-top: -240px;
}

/* line 89 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#fpp {
  margin-top: -120px;
}

/* line 92 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#ilc {
  margin-top: -80px;
}

/* line 95 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#rfuk {
  margin-top: -100px;
}

/* line 98 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#fes {
  margin-top: -70px;
}

/* line 101 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#pafid {
  margin-top: -65px;
}

/* line 104 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#aman {
  margin-top: -190px;
}

/* line 108 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#injectPartners > p {
  width: 475px;
  float: right;
  margin-top: 0;
  mergin-left: 5px;
}

/* line 114 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
#rainForestUKLogo {
  background: url("images/rainUKLogo.png");
  height: 80px;
  width: 300px;
}

/* line 119 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.about-Accordion {
  float: left;
  width: 800px;
  border-left: 1px solid #ccc;
  padding: 10px 20px;
  margin-left: -1px;
  font-size: 15px;
}

/* line 127 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.about-Accordion ul li {
  margin-top: 1em;
}

/* line 130 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.about-Accordion a {
  color: #2fa3d9;
}

/* line 132 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.about-Accordion a:hover {
  text-decoration: underline;
}

/* line 135 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.about-Accordion table {
  display: block;
  margin: 1.5em 0;
}

/* line 145 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.aboutSteeringText li {
  list-style: none;
  padding-top: 10px;
}

/* line 149 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
.active {
  background: #fff !important;
  border-bottom: 4px solid #055d7d;
  border-right: none;
}

/* line 154 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
@media (max-width: 1500px) {

/* line 155 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .accordion-Controls {
    margin-left: 0px;
  }

/* line 157 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #aboutTitle {
    margin-left: 250px;
  }
}

/* line 160 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
@media (max-width: 1250px) {

/* line 161 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #aboutTitle {
    text-align: center;
    margin-right: 20px;
    font-size: 14px;
  }
}

/* line 166 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
@media (max-width: 1050px) {

/* line 167 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .top-bar .name h1 a {
    font-size: 15px;
  }

/* line 169 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .wri-header-attribution {
    display: none;
  }
}

/* line 172 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
@media (max-width: 1000px) {

/* line 173 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #aboutTitle {
    margin-left: 20px;
    margin-right: 20px;
  }

/* line 176 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .about-Accordion {
    width: auto;
  }

/* line 178 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  .aboutImageLeft {
    display: block;
    margin-top: 400px !important;
  }

/* line 181 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #wriDiv,
  #ibc,
  #waipt,
  #rri,
  #fpp,
  #ilc,
  #rfuk,
  #fes,
  #pafid,
  #aman,
  #injectPartners > p {
    margin-top: 0;
    float: left;
  }

/* line 184 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #wriLink {
    margin-top: 0 !important;
  }

/* line 186 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #pafidMedia,
  #fesMedia {
    margin-top: 475px !important;
  }

/* line 188 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/about.styl */
  #rightsMedia {
    margin-top: 450px !important;
  }
}
