@import "config"

body
	font-family Arial

#aboutTitle
	text-align center

.accordion-Controls
	float left
	width 300px
	margin-left 250px
	position relative
	z-index 5
	
.accordion-Title
	border-top 1px solid #ccc
	border-bottom 1px solid #ccc
	height 55px
	padding-left 50px
	background #f2f2f3
	
.caret-down
	display inline-block
	height 10px
	width 8px
	background url(images/static-icons.png) 0 -222px no-repeat
	
.panel-Title
	display block
	line-height 56px
	padding-left 46px
	border-bottom 1px solid #ccc
	cursor pointer
	font-size 14px
	//font-family fira_sans_otmedium
	color #464052
	background #f2f2f3
	border-right 1px solid #ccc

.about-Accordion-Title
	text-align center

.aboutImageLeft
	cursor pointer
	margin-top 400px
	
#wriLink
	margin-top 0
	
	
#waipt, #rri, #fpp, #ilc, #rfuk, #fes, #pafid, #aman, #ibc, #wriDiv
	width 475px
	float right
	margin-top 0
	mergin-left 5px

#wriDiv
	margin-top -15px
	
#ibc
	margin-top -85px
	
#waipt
	margin-top -160px
	
#rri
	margin-top -240px
	
#fpp
	margin-top -120px

#ilc
	margin-top -70px
	
#rfuk
	margin-top -75px
	
#fes
	margin-top -70px

#pafid
	margin-top -65px
	
#aman
	margin-top -160px
	



#injectPartners > p
	width 475px
	float right
	margin-top 0
	mergin-left 5px
	
#rainForestUKLogo
	background url('images/rainUKLogo.png') -1px -230px
	height 60px
	width 300px
	background-color rgb(146, 186, 86)
	
.about-Accordion
	float left
	width 800px
	border-left 1px solid #ccc
	padding 10px 20px
	margin-left -1px
	
.aboutSteeringText li
	list-style none
	padding-top 10px

.active
	background white !important
	border-bottom 4px solid #06457B
	border-right none
	

	