@import "config"

body
	font-family Arial

#aboutTitle
	margin-left 475px

.accordion-Controls
	float left
	width 300px
	margin-left 250px
	position relative
	z-index 5
	
.accordion-Title
	border-top 1px solid #ccc
	border-bottom 1px solid #ccc
	height 55px
	padding-left 50px
	background #f2f2f3
	
.caret-down
	display inline-block
	height 10px
	width 8px
	background url(images/static-icons.png) 0 -222px no-repeat
	
.panel-Title
	display block
	line-height 56px
	padding-left 46px
	border-bottom 1px solid #ccc
	cursor pointer
	font-size 14px
	//font-family fira_sans_otmedium
	color #464052
	background #f2f2f3
	border-right 1px solid #ccc

// .about-Accordion-Title
// 	text-align center

.aboutImageLeft
	cursor pointer
	margin-top 400px
	
#wriLink
	margin-top 0
	
	
#waipt, #rri, #fpp, #ilc, #rfuk, #fes, #pafid, #aman, #ibc, #wriDiv
	width 475px
	float right
	margin-top 0
	mergin-left 5px

#wriDiv
	margin-top -15px
	
#ibc
	margin-top -85px
	
#waipt
	margin-top -100px
	
#rri
	margin-top -240px
	
#fpp
	margin-top -120px

#ilc
	margin-top -80px
	
#rfuk
	margin-top -100px
	
#fes
	margin-top -70px

#pafid
	margin-top -65px
	
#aman
	margin-top -190px


#injectPartners > p
	width 475px
	float right
	margin-top 0
	mergin-left 5px
	
#rainForestUKLogo
	background url('images/rainUKLogo.png')
	height 80px
	width 300px
	
.about-Accordion
	float left
	width 800px
	border-left 1px solid #ccc
	padding 10px 20px
	margin-left -1px
	
.aboutSteeringText li
	list-style none
	padding-top 10px

.active
	background white !important
	border-bottom 4px solid #003366
	border-right none
	
@media (max-width: 1500px)
	.accordion-Controls
		margin-left 0px
	#aboutTitle
		margin-left 250px
		
@media (max-width: 1250px)
	#aboutTitle
		text-align center
		margin-right 20px
		
@media (max-width: 1000px)
	#aboutTitle
		margin-left 20px
		margin-right 20px
	.about-Accordion
		width auto
	.aboutImageLeft
		display block
		margin-top 400px !important
	#wriDiv, #ibc, #waipt, #rri, #fpp, #ilc, #rfuk, #fes, #pafid, #aman, #injectPartners > p
		margin-top 0
		float left
	#wriLink
		margin-top 0 !important
	#pafidMedia, #fesMedia
		margin-top 475px !important
	#rightsMedia
		margin-top 450px !important

		
	
	