@import "config"

body
	font-family Arial

#aboutTitle
	text-align center

.accordion-Controls
	float left
	width 300px
	margin-left 250px
	
.accordion-Title
	border-top 1px solid #ccc
	border-bottom 1px solid #ccc
	height 55px
	padding-left 50px
	background #f2f2f3
	
.caret-down
	display inline-block
	height 10px
	width 8px
	background url(images/static-icons.png) 0 -222px no-repeat
	
.panel-Title
	display block
	line-height 56px
	padding-left 46px
	border-bottom 1px solid #ccc
	cursor pointer
	font-size 14px
	//font-family fira_sans_otmedium
	color #464052
	background #f2f2f3

.about-Accordion-Title
	text-align center
	
.about-Accordion
	float left
	width 800px
	border-left 1px solid #ccc
	padding 10px 20px
	
.aboutSteeringText li
	list-style none
	padding-top 10px

.active
	background white !important
	border-bottom 4px solid #06457B
	

	