/* Import Common Variables and Functions */
@import "config"
/* Generic Classes */
.hidden
.hideOnLoad
	display none
	
.clearfix
	clear both
	
.relative
	position relative

.text-center
	text-align center
	
.inline
	display inline-block
	
.pointer
	cursor pointer
	
.inner
	max-width 960px
	margin auto
/* Generic Classes */

/* Base CSS for App */
.root
	background-color $loadingBackground
	
.app-header
	background-color white
	position absolute
	height 70px
	right 0
	left 0
	top 0
	
a, u
	text-decoration none
	
.app-body
	position absolute
	top 114px
	bottom 0
	right 0
	left 0
	
	@media (max-width: 1050px)
		top 89px

body
	overflow-x hidden

*:focus, &:active
	outline 0 !important

/* Base CSS for App */
@import "header"
/** MOBILE CSS **/
@import "mobile"