
/* line 286 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
/* Import Common Variables and Functions */

/* line 40 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/config.styl */

/* line 3 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
/* Generic Classes */

/* line 4 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.hidden,
.hideOnLoad {
  display: none;
}

/* line 8 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.clearfix {
  clear: both;
}

/* line 11 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.relative {
  position: relative;
}

/* line 14 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.text-center {
  text-align: center;
}

/* line 17 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.inline {
  display: inline-block;
}

/* line 20 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.pointer {
  cursor: pointer;
}

/* line 23 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.inner {
  max-width: 960px;
  margin: auto;
}

/* line 26 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
/* Generic Classes */

/* line 28 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
/* Base CSS for App */

/* line 29 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.root {
  background-color: #eee;
}

/* line 32 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.app-header {
  background-color: #fff;
  position: absolute;
  height: 70px;
  right: 0;
  left: 0;
  top: 0;
}

/* line 40 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
.app-body {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 47 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
/* Base CSS for App */

/* line 59 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/config.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */

/* line 2 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.wri-header-attribution {
  background-color: #ddd;
  font-style: italic;
  line-height: 25px;
  font-size: 12px;
  height: 25px;
  width: 100%;
}

/* line 10 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
a:-webkit-any-link {
  text-decoration: none;
}

/* line 14 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar.expanded {
  z-index: 1000;
}

/* line 18 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar .top-bar-section li a {
  outline: none;
}

/* line 21 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar:not(.expanded) .top-bar-section ul {
  margin-right: 30px;
}

/* line 24 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar.expanded .top-bar-section ul {
  width: 200px;
}

/* line 27 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar.expanded .top-bar-section li a:hover {
  background-color: #ddd;
}

/* line 31 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar.expanded .top-bar-section li a {
  padding: 0 0 0 12px;
}

/* line 34 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.name > h1 {
  font-size: 20px !important;
}

/* line 37 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar {
  background-color: #036;
  font-family: Georgia;
}

/* line 41 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar-section ul li {
  background-color: #036;
  font-family: Georgia;
  font-size: 14px;
}

/* line 52 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar-section ul {
  background-color: #036;
}

/* line 55 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.right {
  background-color: #036;
}

/* line 58 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #036;
}

/* line 49 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/base.styl */
/** MOBILE CSS **/

/* line 105 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/header.styl */

/* line 385 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */

/* line 40 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/config.styl */

/* line 3 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu {
  background-color: #fff;
  position: absolute;
  width: 290px;
  bottom: 0;
  left: 0;
  top: 0;
}

/* line 11 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu-toggle-button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  line-height: 28px;
  font-size: 32px;
  height: 30px;
  width: 30px;
  color: #777;
  left: 20px;
  top: 20px;
}

/* line 24 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu-content {
  position: absolute;
  overflow-y: auto;
  padding: 0 10px;
  bottom: 5px;
  top: 50px;
  right: 0;
  left: 0;
}

/* line 33 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu:not(.open) {
  display: none;
}

/* line 36 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu .segmented-menu-button {
  border: 1px solid #000;
  text-align: center;
  padding: 5px 10px;
  color: #000;
}

/* line 42 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu .segmented-menu-button.active {
  background-color: #888;
  color: #fff;
}

/* line 46 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu-content:not(.active) {
  display: none;
}

/* line 49 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu .menu-controls {
  text-align: center;
  margin-top: 10px;
}

/* line 53 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu .segmented-menu-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-right: 0;
}

/* line 57 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile-menu .segmented-menu-button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-left: 0;
}

/* line 61 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
body:not(.mobile) .mobile-menu,
body:not(.mobile) .mobile-menu-toggle-button {
  display: none;
}

/* line 66 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile .launch-map-button {
  display: block;
  margin: 0 auto;
}

/* line 70 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile .basemap-container {
  height: 250px;
  width: 150px;
}

/* line 74 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile .esriBasemapGallery {
  margin: 10px;
}

/* line 77 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile .basemap-container {
  top: 20px;
}

/* line 80 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile .esriControlsBR {
  right: 5px;
}

/* line 83 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile #legend {
  max-height: inherit;
}

/* line 86 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
.mobile .data-completeness-container,
.mobile .tree-widget-container,
.mobile .geocoder-container,
.mobile .legend-container,
.mobile .analysis-button,
.mobile .title-area .name h1,
.mobile .esriAttribution,
.mobile #upload-shapefile {
  display: none;
}
@media (max-width: 1000px) {

/* line 99 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
  .geocoder-container {
    right: 70px !important;
    top: 70px !important;
  }
}
@media (max-width: 800px) {

/* line 104 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/mobile.styl */
  .title-area .name h1 {
    display: none;
  }
}
