
/* line 286 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Import Common Variables and Functions */

/* line 22 : /Users/Robert/Projects/github_work/Community-Rights/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/src/css/config.styl */

/* line 3 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Generic Classes */

/* line 4 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.hidden,
.hideOnLoad {
  display: none;
}

/* line 8 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.clearfix {
  clear: both;
}

/* line 11 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.relative {
  position: relative;
}

/* line 14 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.text-center {
  text-align: center;
}

/* line 17 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.inline {
  display: inline-block;
}

/* line 20 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.pointer {
  cursor: pointer;
}

/* line 23 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.inner {
  max-width: 960px;
  margin: auto;
}

/* line 26 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Generic Classes */

/* line 28 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Base CSS for App */

/* line 29 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.root {
  background-color: #eee;
}

/* line 32 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.app-header {
  background-color: #fff;
  position: absolute;
  height: 70px;
  right: 0;
  left: 0;
  top: 0;
}

/* line 40 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.app-body {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 47 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Base CSS for App */

/* line 28 : /Users/Robert/Projects/github_work/Community-Rights/src/css/config.styl */

/* line 22 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.wri-header-attribution {
  background-color: #ddd;
  font-style: italic;
  line-height: 25px;
  font-size: 12px;
  height: 25px;
  width: 100%;
}

/* line 11 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded {
  z-index: 1000;
}

/* line 15 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar .top-bar-section li a {
  outline: none;
}

/* line 18 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar:not(.expanded) .top-bar-section ul {
  margin-right: 30px;
}

/* line 21 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded .top-bar-section ul {
  width: 200px;
}

/* line 24 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded .top-bar-section li a:hover {
  background-color: #ddd;
}

/* line 27 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded .top-bar-section li a {
  padding: 0 0 0 12px;
}
