/* Import Common Variables and Functions */
@import "config"
/* Generic Classes */
.hidden
	display none
	
.clearfix
	clear both
	
.relative
	position relative

.text-center
	text-align center
	
.inline
	display inline-block
	
.pointer
	cursor pointer
	
.inner
	max-width 960px
	margin auto
/* Generic Classes */

/* Base CSS for App */
.root
	background-color $loadingBackground
	
.app-header
	background-color white
	position absolute
	height 75px
	right 0
	left 0
	top 0
	
.app-body
	position absolute
	top 75px
	bottom 0
	right 0
	left 0

/* Base CSS for App */

@import "header"