
/* line 286 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Import Common Variables and Functions */

/* line 22 : /Users/Robert/Projects/github_work/Community-Rights/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/src/css/config.styl */

/* line 3 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Generic Classes */

/* line 4 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.hidden {
  display: none;
}

/* line 7 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.clearfix {
  clear: both;
}

/* line 10 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.relative {
  position: relative;
}

/* line 13 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.text-center {
  text-align: center;
}

/* line 16 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.inline {
  display: inline-block;
}

/* line 19 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.pointer {
  cursor: pointer;
}

/* line 22 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.inner {
  max-width: 960px;
  margin: auto;
}

/* line 25 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Generic Classes */

/* line 27 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Base CSS for App */

/* line 28 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.root {
  background-color: #eee;
}

/* line 31 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.app-header {
  background-color: #fff;
  position: absolute;
  height: 70px;
  right: 0;
  left: 0;
  top: 0;
}

/* line 39 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
.app-body {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 46 : /Users/Robert/Projects/github_work/Community-Rights/src/css/base.styl */
/* Base CSS for App */

/* line 21 : /Users/Robert/Projects/github_work/Community-Rights/src/css/config.styl */

/* line 22 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.wri-header-attribution {
  background-color: #ddd;
  font-style: italic;
  line-height: 25px;
  font-size: 12px;
  height: 25px;
  width: 100%;
}

/* line 11 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded {
  z-index: 1000;
}

/* line 14 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded .top-bar-section ul {
  width: 200px;
}

/* line 17 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded .top-bar-section li a:hover {
  background-color: #ddd;
}

/* line 20 : /Users/Robert/Projects/github_work/Community-Rights/src/css/header.styl */
.top-bar.expanded .top-bar-section li a {
  padding: 0 0 0 12px;
}
