.community-layer-type-label
  font-weight bold

.layer-category
  padding-left 20px

.layer-node
  padding-left 45px
  color #055D7D

.layer-category
.layer-node
  font-size 12px
  margin 10px 0

.layer-checked-true
  background url('images/checked.png')
  background-repeat no-repeat
  height 16px
  width 20px
  display inline-block
  vertical-align bottom
  cursor pointer

.layer-checked-false
  background url('images/unChecked.png')
  background-repeat no-repeat
  height 16px
  width 20px
  display inline-block
  vertical-align bottom
  cursor pointer
