$darkFont = #464646

.community-layer-type-label
  font-weight bold
  font-size 14px
  color #005E7A

.layer-category
  padding-left 20px
  font-weight 600
  font-size 13px
  color #787878

.layer-node
  padding-left 35px
  font-size 12px
  color #005E7A
  font-weight 600

.layer-category
.layer-node
  margin 8px 0

.layer-checked-true, .parent-layer-checked-true
  background url('images/check.svg')
  background-repeat no-repeat
  height 14px
  width 20px
  display inline-block
  vertical-align sub
  cursor pointer


.layer-checked-false, .parent-layer-checked-false
  background url('images/uncheck.svg')
  background-repeat no-repeat
  height 14px
  width 20px
  display inline-block
  vertical-align sub
  cursor pointer

.parent-layer-help
  background url('images/icon_question_mark.svg') no-repeat
  height 16px
  width 16px
  vertical-align middle
  cursor pointer
  margin-left 10px
