$darkFont = #464646

.community-layer-type-label
  font-weight bold
  font-size 14px
  color #005E7A

.layer-category
  padding-left 20px
  font-weight 600
  font-size 13px
  color #787878

.layer-node
  padding-left 35px
  font-size 12px
  color #005E7A
  font-weight 600

.layer-category
.layer-node
  margin 8px 0

.layer-checked-true, .parent-layer-checked-true
  background url('images/check.svg')
  background-repeat no-repeat
  height 14px
  width 20px
  display inline-block
  vertical-align sub
  cursor pointer


.layer-checked-false, .parent-layer-checked-false
  background url('images/uncheck.svg')
  background-repeat no-repeat
  height 14px
  width 20px
  display inline-block
  vertical-align sub
  cursor pointer

.layer-checkbox-text
  cursor pointer

.parent-layer-help
  background url('images/icon_question_mark.svg') no-repeat
  height 16px
  width 16px
  vertical-align middle
  cursor pointer
  margin-left 10px

.parent-layer-checked-true.comm-land-parent
  background url('images/comm-land-parent-checked.svg')
  background-repeat no-repeat

.parent-layer-checked-false.comm-land-parent
  background url('images/comm-land-parent-unchecked.svg')
  background-repeat no-repeat

.parent-layer-checked-true.indig-land-parent
  background url('images/indig-land-parent-checked.svg')
  background-repeat no-repeat

.parent-layer-checked-false.indig-land-parent
  background url('images/indig-land-parent-unchecked.svg')
  background-repeat no-repeat

.indigenous_FormalDoc.layer-checked-true
  background url('images/indig-formal-doc-checked.svg')
  background-repeat no-repeat

.indigenous_FormalDoc.layer-checked-false
  background url('images/indig-formal-doc-unchecked.svg')
  background-repeat no-repeat

.indigenous_NoDoc.layer-checked-true
  background url('images/indig-no-doc-checked.svg')
  background-repeat no-repeat

.indigenous_NoDoc.layer-checked-false
  background url('images/indig-no-doc-unchecked.svg')
  background-repeat no-repeat

.indigenous_FormalClaim.layer-checked-true
  background url('images/indig-formal-claim-checked.svg')
  background-repeat no-repeat

.indigenous_FormalClaim.layer-checked-false
  background url('images/indig-formal-claim-unchecked.svg')
  background-repeat no-repeat

.indigenous_Occupied.layer-checked-true
  background url('images/indig-occupied-checked.svg')
  background-repeat no-repeat

.indigenous_Occupied.layer-checked-false
  background url('images/indig-occupied-unchecked.svg')
  background-repeat no-repeat

.community_FormalDoc.layer-checked-true
  background url('images/comm-formal-doc-checked.svg')
  background-repeat no-repeat

.community_FormalDoc.layer-checked-false
  background url('images/comm-formal-doc-unchecked.svg')
  background-repeat no-repeat

.community_NoDoc.layer-checked-true
  background url('images/comm-no-doc-checked.svg')
  background-repeat no-repeat

.community_NoDoc.layer-checked-false
  background url('images/comm-no-doc-unchecked.svg')
  background-repeat no-repeat

.community_FormalClaim.layer-checked-true
  background url('images/comm-formal-claim-checked.svg')
  background-repeat no-repeat

.community_FormalClaim.layer-checked-false
  background url('images/comm-formal-claim-unchecked.svg')
  background-repeat no-repeat

.community_Occupied.layer-checked-true
  background url('images/comm-occupied-checked.svg')
  background-repeat no-repeat

.community_Occupied.layer-checked-false
  background url('images/comm-occupied-unchecked.svg')
  background-repeat no-repeat
