/* Common Functions Used */
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	
border-radius-top()
	border-top-left-radius arguments
	border-top-right-radius arguments
	-moz-border-radius-topleft arguments
	-moz-border-radius-topright arguments
	-webkit-border-top-left-radius arguments
	-webkit-border-top-right-radius arguments
/* Common Functions Used */

/* Common Variables Used */
$loadingBackground = #EEE
$mainBackground = #DDD
$mainBorder = #888
$mainColor = #444
/* Common Variables Used */