/* Common Functions Used */
border-radius()
	border-radius arguments
	-moz-border-radius arguments
	-webkit-border-radius arguments
	
border-radius-top()
	border-top-left-radius arguments
	border-top-right-radius arguments
	-moz-border-radius-topleft arguments
	-moz-border-radius-topright arguments
	-webkit-border-top-left-radius arguments
	-webkit-border-top-right-radius arguments
	
border-radius-left()
	border-top-left-radius arguments
	border-bottom-left-radius arguments
	-moz-border-radius-topleft arguments
	-moz-border-radius-bottomleft arguments
	-webkit-border-top-left-radius arguments
	-webkit-border-bottom-left-radius arguments

border-radius-right()
	border-top-right-radius arguments
	border-bottom-right-radius arguments
	-moz-border-radius-topright arguments
	-moz-border-radius-bottomright arguments
	-webkit-border-top-right-radius arguments
	-webkit-border-bottom-right-radius arguments

/* Common Functions Used */

/* Common Variables Used */
$loadingBackground = #EEE
$mainBackground = #DDD
$webkitBlue = #2982ff
$mainBorder = #888
$mainColor = #444
$esriHover = #EEE
/* Common Variables Used */