@import "config"

body
	font-family Arial

.root
	background-color white
	
.app-body
	width 1120px
	max-width 90%
	padding 20px
	margin 0 auto
	
.contact-bold
	font-weight bold
	color #055D7D

#contactForm > div > ul > li > input
	width 800px
	
#contactForm
	a
		color #2FA3D9
		&:hover
			text-decoration underline
			
	ul
		padding-left 1em
		li
				margin 1.2em 0
	
	label
		margin-top 1.2em
		
	
	input[type="text"], textarea
	
		max-width 100%
	
		&:focus, &:focus
			box-shadow 0 0 5px rgba(#2FA3D9, 40%)
			border-color #2FA3D9
			background white
		
	button
		background #055D7D
		
		&:hover
			background #0A89B8
	
#contactTitle
	text-align center
	margin-bottom 2.2em
	h1
		margin 0

#Message
	height 100px
	resize none
	width 800px
	

@media (max-width: 1050px)
	.top-bar .name h1 a
		font-size 16px
	.wri-header-attribution
		display none

@media (max-width: 1000px)
	#contactForm > div > ul > li > input, #Message
		width 500px
		
@media (max-width: 800px)
	#contactForm > div > ul > li > input, #Message
		width 300px