
/* line 286 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 40 : /Users/Robert/Projects/github_work/Community-Rights/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/Robert/Projects/github_work/Community-Rights/src/css/config.styl */

/* line 3 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
html,
body,
.root {
  overflow: auto !important;
}

/* line 8 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
body {
  font-family: Arial;
}

/* line 11 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
.root {
  background-color: #fff;
}

/* line 14 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
.app-body {
  width: 1120px;
  max-width: 90%;
  padding: 20px;
  margin: 0;
}
@media (min-width: 1500px) {

/* line 20 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
  .app-body {
    margin-left: 250px;
  }
}

/* line 23 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
.contact-bold {
  font-weight: bold;
  color: #055d7d;
}

/* line 27 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm > div > ul > li > input {
  width: 800px;
}

/* line 30 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */

/* line 31 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm a {
  color: #2fa3d9;
}

/* line 33 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm a:hover {
  text-decoration: underline;
}

/* line 36 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm ul {
  padding-left: 1em;
}

/* line 38 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm ul li {
  margin: 1.2em 0;
}

/* line 41 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm label {
  margin-top: 1.2em;
}

/* line 45 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm input[type="text"],
#contactForm textarea {
  max-width: 100%;
}

/* line 49 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm input[type="text"]:focus,
#contactForm textarea:focus {
  box-shadow: 0 0 5px rgba(47,163,217,0.4);
  border-color: #2fa3d9;
  background: #fff;
}

/* line 54 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm button {
  background: #055d7d;
}

/* line 57 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactForm button:hover {
  background: #0a89b8;
}

/* line 60 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactTitle {
  text-align: center;
  margin-bottom: 2.2em;
}

/* line 63 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#contactTitle h1 {
  margin: 0;
}

/* line 66 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
#Message {
  height: 100px;
  resize: none;
  width: 800px;
}

/* line 72 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
@media (max-width: 1050px) {

/* line 73 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
  .top-bar .name h1 a {
    font-size: 16px;
  }

/* line 75 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
  .wri-header-attribution {
    display: none;
  }
}

/* line 78 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
@media (max-width: 1000px) {

/* line 79 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
  #contactForm > div > ul > li > input,
  #Message {
    width: 500px;
  }
}

/* line 82 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
@media (max-width: 800px) {

/* line 83 : /Users/Robert/Projects/github_work/Community-Rights/src/css/contact.styl */
  #contactForm > div > ul > li > input,
  #Message {
    width: 300px;
  }
}
