@import "config"

body
	font-family Arial
	
.root
	background-color white
	
.app-body
	padding 20px
	
.contact-bold
	font-weight bold
	color #055D7D

#contactForm > div > ul > li > input
	width 800px
	

#Message
	height 100px
	resize none
	width 800px
	

@media (max-width: 1050px)
	.top-bar .name h1 a
		font-size 16px
	.wri-header-attribution
		display none

@media (max-width: 1000px)
	#contactForm > div > ul > li > input, #Message
		width 500px
		
@media (max-width: 800px)
	#contactForm > div > ul > li > input, #Message
		width 300px