
.wri-header-attribution
	background-color $mainBackground
	font-style italic
	line-height 25px
	font-size 12px
	height 25px
	width 100%
	
a:-webkit-any-link
	text-decoration none

/* Overrides for Foundation CSS */
.top-bar.expanded
	z-index 1000
	
/* Override Dojo Blue Outline */
.top-bar .top-bar-section li a
	outline none

.top-bar:not(.expanded) .top-bar-section ul
	margin-right 30px

.top-bar.expanded .top-bar-section ul
	width 200px
	
.top-bar.expanded .top-bar-section li a:hover
	background-color $mainBackground
	

.top-bar.expanded .top-bar-section li a
	padding 0 0 0 12px
	
.name > h1
	font-size 20px !important
	
.top-bar
	background-color #003366
	font-family Georgia
	
.top-bar-section ul li
	background-color #003366
	font-family Georgia
	

	// font-family Georgia
	font-size 14px
	
// .top-bar-section ul li > a:active
// 	border-bottom 3px solid green

.active-page
	border-bottom 3px solid green
	
.top-bar-section ul
	background-color #003366
	
.right
	background-color #003366
	
.top-bar-section li:not(.has-form) a:not(.button)
	background-color #003366
	
	
