@import "config"

body
	font-family Arial
	
#backgroundImage
	background url(images/homeBackground.jpg)
	height 100%
	width 40%
	float left
	margin-right 35px
	background-position-x -450px
	background-position-y -50px
	
#homeText
	padding 10px
	padding-right 50px
	padding-left 25px
	background-color white
	height 100%
	
#launch-map
	color #074a7c
	padding-bottom 10px
	padding-top 10px
	padding-left 30px
	padding-right 30px
	border 2px solid #A7C4E8
	background-color white
	border-radius 5px
	-moz-border-radius 5px
	-webkit-border-radius 5px
	font-weight bold
	margin-top 25px
	
#language-flags
	display inline-block
	float right
	margin-top 25px
	padding 10px
	color gray
	
.flags
	display inline-block
	margin 4px
	margin-top 2px
	cursor pointer

.introTextSub
	color #448BD2
	cursor pointer

.introTextTitle
	color #074A7C
	font-weight bold
	font-size 17px

@media (max-width: 1200px)
	#backgroundImage
		width 60%
	#homeText
		margin-right 0px
		
@media (max-width: 800px)
	#backgroundImage
		display none
	#homeText
		position absolute
//#homeText