@import "config"

body
	font-family Arial Narrow
	
#backgroundImage
	background url(images/homeBackground.jpg)
	height 100%
	width 40%
	float left
	

@media (max-width: 1200px)
	#backgroundImage
		width 60%
		
@media (max-width: 800px)
	#backgroundImage
		width 100%
	#homeText
		position absolute
//#homeText