.tree-widget-container
  // height calc(95% - 20px)
  top 20px


.tree-widget-title-pane
  background-color white
  box-sizing initial
  line-height 32px
  height 32px
  cursor pointer

.tree-width
  width 360px

.mobile .tree-width
  width 100%

#layer-content
  max-height 26em
  overflow-y auto
  overflow-x hidden

.layer-tab-container
  width 360px
  // max-height 90%
  // overflow-y auto
  // overflow-x hidden

body:not(.mobile) .layer-tab-container .tab-panel
  padding 5px 5px 5px
  background #E3E4E5
  position relative
  overflow-y auto
  overflow-x hidden

.layer-tab-controls
  background #E3E4E5
  text-align center
  padding-top 7px

.community-tab
  display inline-block
  padding 12px 20px
  font-weight bold
  cursor pointer
  font-size 14px
  color #25a3d9
  &.active
    background white

.community-layer-list
.national-level-layer-lists, .national-level-layer-list
  background white
  padding 10px

.disclaimer-br
  font-size 10px
  width 90%
  margin-left 20px
  margin-top 5px
  padding 2px
  font-style italic
  color #25a3d9

@import "nationalLayerList"
@import "communityLayerList"

.layer-selection-drop-container
  color #005e7a
  font-size 0.8em
  background-color white
  margin-bottom 2px

.layer-selection-drop-text
  cursor pointer
  margin-left 20px
  padding 5px
  padding-top 4px
  line-height initial
  width 80%
  font-size 1.1em

.land-map-layer-selection
  padding-top 12px
