
.legend-component-container
  position absolute
  background white
  // height 325px
  max-height 325px
  width 320px
  z-index 55
  bottom 10px
  right 30px
  // padding 20px

  // .active
  //   height 300px
.legend-component-container.collapsed
  height 32px

.legend-item-group
  margin-left 10px
  font-weight bold
  font-size 13px
  color #464646
  font-family Raleway
  font-weight 600

.legend-item-name
  margin-left 25px
  margin-bottom 0px
  font-size 11px
  line-height 6px
  padding-left 22px
  text-indent -33px


.legend-component-controls
  background-color #055d7d
  color #fff
  font-family Raleway
  font-size 16px
  line-height 32px
  padding-left 15px

.legend-component-content
  padding 10px
  font-size 12px
  max-height 275px
  overflow-y auto


.legend-component-content.collapsed
  display none !important

.legend-item-family
  font-family Raleway
  color #23426a
  font-size 14px
  padding 10px
  margin-left -10px
  font-weight bold

.legend-item-img
  vertical-align middle
  padding 6px
  margin-top -2px

#toggleLegend
  color #fff
  background-color #2fa3d9
  font-family Raleway
  font-size 14px
  line-height 32px
  width 32px
  float right
  text-align center
  cursor pointer
