
.legend-component-container
  position absolute
  background white
  // height 325px
  max-height 300px
  width 270px
  z-index 55
  bottom 0px
  right 30px

.legend-component-container.collapsed
  height 32px
  width 120px

.legend-item-group
  margin-left 10px
  font-weight bold
  font-size 12px
  color #787878
  font-family Raleway
  font-weight 600

.legend-item-name
  margin-left 30px
  margin-bottom 0px
  font-size 11px
  line-height 6px
  padding-left 22px
  text-indent -33px

.average
  font-size 12px
  font-weight bold
  color #787878


.legend-component-controls
  background-color #055d7d
  color #fff
  font-family Raleway
  font-size 16px
  line-height 30px
  padding-left 15px
  cursor pointer

.legend-component-content
  padding 10px
  font-size 12px
  max-height 275px
  overflow-y auto


.legend-component-content.collapsed
  display none !important

.legend-item-family
  font-family Raleway
  color #005e7a
  font-size 13px
  padding 10px
  margin-left -10px
  font-weight bold
  padding-top 6px
  padding-bottom 5px

.legend-item-img
  vertical-align middle
  padding 3px
  margin-top -2px

#toggleLegend
  color #fff
  background-color #2fa3d9
  font-family Raleway
  font-size 14px
  line-height 30px
  width 30px
  float right
  text-align center
