
.legend-component-container
  // position absolute
  background white
  // height 325px
  max-height 300px
  width 270px
  z-index 55
  bottom 0px
  // right 30px
  margin-left 1em

.special-legend-component-container
  background #fff
  height 160px
  width 340px
  z-index 55
  bottom 0px

.legend-component-container.collapsed
  height 32px
  width 120px

.legend-item-group
  margin-left 10px
  font-weight bold
  font-size 12px
  color #787878
  font-family Raleway
  font-weight 600

.legend-item-name
  margin-left 30px
  margin-bottom 0px
  font-size 11px
  line-height 6px
  padding-left 22px
  text-indent -33px

.average
  font-size 12px
  font-weight bold
  color #787878


.legend-component-controls
  background-color #055d7d
  color #fff
  font-family Raleway
  font-size 16px
  line-height 30px
  padding-left 15px
  cursor pointer

.legend-component-content
  padding 10px
  font-size 12px
  max-height 275px
  // overflow-y auto

.special-legend-component-content
  padding 10px
  font-size 12px


.legend-component-content.collapsed
  display none !important

.legend-item-family
  font-family Raleway
  color #005e7a
  font-size 13px
  padding 10px
  margin-left -10px
  font-weight bold
  padding-top 6px
  padding-bottom 5px

.legend-item-img
  vertical-align middle
  padding 3px
  margin-top -2px

#toggleLegend
  color #fff
  background-color #2fa3d9
  font-family Raleway
  font-size 14px
  line-height 30px
  width 30px
  float right
  text-align center

.indicator-legend
  display inline-block
  width 12%

.special-indicator-legend
  display flex
  width 100%
  height 100%
  vertical-align top
  align-items center
  margin-bottom 3px

.legend-item-text-container
  transform rotate(-45deg)
  height 30px
  width 50px
  margin-top 5px
  margin-left -15px

.special-legend-item-text-container
  width 85%
  font-size 10px
  display inline-block

.special-legend--item-image-container
  display inline-block

.percent-legend-text-container
  transform rotate(-45deg)
  height 30px
  width 75px
  margin-top 5px
  margin-left -27px

.not-app-label
  text-align left

.not-app-label-percent
  text-align center

.percent-legend-component-container
  padding-bottom 10px


.best-text
	position absolute
	left 10px

.worst-text
	position absolute
	right 50px

.best-text-indicator
	position absolute
	left 20px

.worst-text-indicator
	position absolute
	right 25px
