@import "config"
@import "analysis"

.launch-dialog-title
	margin 0

.launch-dialog-subtitle
	font-style italic
	font-size 14px
	
.launch-dialog-content
	font-size 15px
	
.dijitDialog .dijitDialogCloseIcon
	outline none !important

.brMap
	background-color $mainBackground
	/* For Mobile Menu When Open */
	box-shadow -3px 0 2px #BBB
	position absolute
	bottom 0
	right 0
	left 0
	top 0
	
body
	font-family Arial
	color #131313

label
	font-family Arial
	color #131313
	
.map-component	
	box-sizing initial
	position absolute
	z-index 30
	
.esriControlsBR
	right 300px
	
.brMap .HomeButton .home
	background url('images/map_tools_home.png') no-repeat center
	border-bottom 1px solid black
	background-color white
	border-radius 0
	cursor pointer
	height 30px
	width 30px
	padding 0
	
.brMap .HomeButton .home:hover
	background-color $esriHover
	
.tundra .dijitDialogTitleBar
	background #003366 !important
	
.tundra .dijitDialogCloseIcon
	background url('images/close_x_symbol.png') no-repeat !important
	top 10px !important
	
.tundra .dijitDialogTitle
	color white
	
.legend-container
	width 260px
	right 20px
	z-index 50
	bottom 0
	
.legend-title-pane
	border-bottom 1px solid $mainBorder
	padding-right 5px
	text-align left
	height 30px
	
#legend-toggle
	width 218px
	color white
	background-color #003366
	font-family Arial
	font-size 13px
	
.legend-title
	border-radius-top(3px)
	border 1px solid $mainBorder
	display inline-block
	background white
	line-height 30px
	border-bottom 0
	padding 0 20px
	font-size 14px
	height 30px
	
.legend-content
	border 1px solid $mainBorder
	background-color white
	border-bottom 0
	font-size 13px
	border-top 0
	
.introTextTitle
	color #074A7C
	font-weight bold
	
#identifyNote
	margin-top 10px
	background-color #CFCFCF
	font-size 12px
	padding 5px
	
#analysisTable
	border-collapse collapse
	margin-top -11px

#analysisTable > tbody > tr > td
	border 1px solid black
	padding 4px

.esriLegendLeft
	padding-left 20px !important

#legend .esriLegendService > div > table
	padding-left 10px

.legend-content:not(.active)
	overflow hidden
	
#legend
	max-height 300px
	overflow-y auto
	padding-bottom 5px
	
#legend #legend_msg 
#legend .esriLegendServiceLabel
	display none

#legend .esriLegendService
	padding-bottom 0px

#legend > div:nth-last-child(2)
	padding-bottom 10px

.button-widget
	background-color white
	border 1px solid black
	border-radius(5px)
	height 30px
	width 30px
	right 20px
	
.basemap-button
.basemap-connector
	top 120px
	
.locator-button
	top 160px

#share-widgets
	padding 14px 15px 0

#embedShare
	display inline-block
	cursor pointer
	height 32px
	width 32px
	background url(images/embed_icon.png) no-repeat #fff
	margin-left 2px
	
.addthis_sharing_toolbox
	display inline-block
	
.share-button
.share-connector	
	top 200px

.basemap-icon
	background url('images/map_tools_basemaps.png')	no-repeat
	height 16px
	width 19px
	margin-top 7px
	margin-left 6px

.basemap-button:hover, .LocateButton:hover, .share-icon:hover
	background-color: #eee;
	


.share-icon
	background url('images/map_tools_share.png') no-repeat
	background-position 8px 8px
	
.share-icon
	height 100%
	width 100%
	
.brMap .LocateButton .zoomLocateButton
	background-color transparent
	background-image url('images/map_tools_location.png')
	padding 0

.brMap .LocateButton .zoomLocateButton:hover
	background-color transparent
	background-image url('images/map_tools_location.png')
	background-position 6px 6px
	
.brMap .LocateButton
	background-position 6px 6px
	
.brMap .zoomLocateButton:hover
	background-position -2px -36px
	
	
.basemap-container
	border 1px solid black
	background-color white
	border-radius(5px)
	overflow-y auto
	height 400px
	width 390px
	right 60px
	top 65px
	
.esriBasemapGalleryLabelContainer
	font-size 13px
	padding 5px 0
	
.esriBasemapGallery
	margin 10px 5px
	
.share-container
	border 1px solid black
	background-color white
	border-radius(5px)
	overflow-y auto
	min-width 50px
	height 60px
	width auto
	right 60px
	top 185px

.connector
	border-bottom 1px solid black
	border-top 1px solid black
	background-color white
	height 30px
	right 48px
	width 13px
	
.popup-header
	font-weight bold
	padding-top 10px
	color #003366

.odd-row
	background-color #F0EFF4
	
#first-row
	background-color blue


.help-marker
	background url('images/icon_question_mark.png') no-repeat
	height 16px
	width 16px
	position absolute
	margin-top 6px
	margin-left 5px
	cursor pointer
	
.popup-last
	padding-top 10px
	font-size 10px
	background-color rgb(226, 226, 226)
	border-top 1px solid gray
	padding-bottom 10px
	margin-top 5px
	padding-left 10px
	
#additionalInfo
	float right
	padding-right 10px
	color #036
	text-decoration underline
	font-weight bold
	cursor pointer

.esriSimpleSliderDecrementButton
	border-top 1px solid gray
	background url(images/map_tools_minus.png) no-repeat #fff
	background-position 7px 14px
	
.esriSimpleSliderIncrementButton
	background url(images/map_tools_plus.png) no-repeat #fff
	background-position 8px 7px

.esriSimpleSlider
	border-radius 0px !important
	-webkit-border-radius 0px !important
	color transparent !important

.esriPopup
	font-family Arial !important
	font-size 14px !important

.simpleGeocoder .esriGeocoder
	border-radius 0px !important
	-webkit-border-radius 0px !important
	font-family Arial !important
	
.map-component
	border-radius 0px !important
	-webkit-border-radius 0px !important
	
.esriPopup .titleButton.close
	background none
	top 10px
	right 15px !important
	font-size 22px
	
.esriPopup .titleButton.maximize
	display none

.esriPopup .titlePane
	padding 10px
	-webkit-border-radius 0px 0px 0px 0px !important
	border-bottom 1px solid black
	font-size 14px
	background-color #003366 !important
	font-family Arial !important

#aoiIntersect
	background-color #c6d9f0		

.esriPopup .contentPane
	// max-height none !important
	padding 10px 0px 0px 0px !important

.odd-row, .even-row
	margin-left 10px
	
.actionsPane
	display none

.tree-widget-container
	bottom 20px
	left 20px
	top 20px
	
.layer-accordion
	height 100%
	width 100%
	
.tree-node-info
	background url(images/info-icon.png) no-repeat #fff
	float right
	background-size 20px 20px
	height 20px
	width 20px
	margin-top -2px
	margin-left -48px
	color grey
	cursor pointer
	
.tree-widget-title-pane	
	border 1px solid $mainBorder
	background-color white
	box-sizing initial
	line-height 32px
	height 32px
	
.tree-width
	width 320px
	
.mobile .tree-width
	width 295px
	
#tree-title
	background-color #036
	
.tree-title-text
	display inline-block
	color white
	
.tree-title-text span
	padding 0 12px
	font-size 14px
	font-family Arial

.tree-container-toggle
	display inline-block
	padding 0 12px
	margin-left -33px
	border-left 1px solid $mainBorder
	color white
	background-color #6699CC
	padding-bottom 1px

.tree-content
	background-color white
	position absolute
	overflow hidden
	
.mobile .tree-content
	bottom 0
	left 0
	top 0
	
.radio-button-container label
	font-size 13px
	
.mobile .radio-button-container label
	margin 0

.brMap .tree-content.active
	border 1px solid $mainBorder
	border-top 0

.tree-content .tester
	height 200px
	
.analysis-button
	border 1px solid $mainBorder
	border-radius(5px)
	background-color white
	text-align center
	line-height 32px
	height 32px
	right 70px
	top 20px
	
.simpleGeocoder .esriGeocoder input
	font-family Arial

.data-completeness-label, .analysis-button-label
	font-size 13px
	font-family Arial
	
.analysis-button-label
.data-completeness-label
.data-completeness-toggle
	padding 0 10px

.data-completeness-label
	padding-right 30px
	
.data-completeness-container
	border 1px solid $mainBorder
	border-radius(5px)
	background-color white
	text-align center
	line-height 32px
	height 32px
	right 160px
	top 20px
	
.data-completeness-toggle
	background-color #d0cfcf
	border-right 1px solid $mainBorder
	display inline-block
	height 32px
	
.data-complete-checkbox-class
	background url('images/checkbox_unchecked.png') no-repeat

.data-complete-checkbox-class-checked
	background url('images/checkbox_checked.png') no-repeat

#data-complete-checkbox
	
	height: 11px
	width: 11px
	display inline-block
	cursor pointer
	
.geocoder-container
	right 415px
	top 20px
	
.simpleGeocoder .esriGeocoder input
	box-shadow none
	height 20px
	
.analysis-popup-button
	display inline-block
	margin 5px
	background-color white
	color black
	outline 1px solid gray
	font-size 14px
	float right
	margin-bottom 15px
	margin-top -50px
	padding 20px
	padding-top 12px
	padding-bottom 12px
	width 80px
	
#legend-toggle-icon
	//-background url('images/close_minus_symbol.png')
	//background url(images/legendToggle.png) no-repeat #fff
	height 30px
	width 30px
	position relative
	top -30px
	left 208px
	text-align center
	background-color #69c
	// font-size 24px
	// cursor pointer
	
.titlePane.analysis-header
	font-size 21px !important
	color black !important
	background-color #F7F7F7 !important
	border-bottom none
	
.title
	//margin-bottom -5px
	
.highcharts-container
	margin-top -20px
	
#printAnalysis
	margin-right 20px
	
.tree-data-section
	margin 10px
	padding 5px
	border 1px solid black

.tree-data-section > span
	cursor pointer
	margin 0
	
// .national-menu-controls
// 	text-align center
// 	margin-top 10px
// 	margin-bottom 3px
	
// .national-segmented-menu-button:first-of-type
// 	border-top-left-radius 5px
// 	border-bottom-left-radius 5px
// 	-moz-border-radius-topleft 5px
// 	-moz-border-radius-bottomleft 5px
// 	-webkit-border-top-left-radius 5px
// 	-webkit-border-bottom-left-radius 5px
// 	border-right 0
	
// .national-segmented-menu-button:last-of-type
// 	border-top-right-radius 5px
// 	border-bottom-right-radius 5px
// 	-moz-border-radius-topright 5px
// 	-moz-border-radius-bottomright 5px
// 	-webkit-border-top-right-radius 5px
// 	-webkit-border-bottom-right-radius 5px
// 	border-left 1px solid black
	
// .national-segmented-menu-button.active
// 	background-color #888
// 	color #fff
	
// .national-segmented-menu-button
// 	border 1px solid #000
// 	text-align center
// 	padding 5px 10px
// 	color #000

	
.national-active-indicator
	border 1px solid black
	// background-color green

// #community-level-toggle
// 	margin-top -11px
	
.tree-data-section input[type='radio']
	margin 0 0 0 5px	
	
@import "ReactTree"
@import "nationalLayerList"
	
body:not(.mobile) .launch-map-button
	margin-right 10px
	float right
	
@media (max-width: 800px)
	.national-layer-selection-label
		font-size 11px
		padding-right 0