
/* line 286 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 40 : /Users/lucascotner/Documents/Projects/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/config.styl */

/* line 9 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/config.styl */

/* line 1040 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/analysis.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/analysis.styl */
.upload-instructions li {
  font-size: 12px;
}

/* line 4 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/analysis.styl */
.analysis-buttons {
  text-align: center;
  margin: 10px 0;
}

/* line 8 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/analysis.styl */
.analysis-buttons button {
  margin: 2px 10px;
}

/* line 4 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.launch-dialog-title {
  margin: 0;
}

/* line 7 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.launch-dialog-subtitle {
  font-style: italic;
  font-size: 14px;
}

/* line 11 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.launch-dialog-content {
  font-size: 15px;
}

/* line 14 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.dijitDialog .dijitDialogCloseIcon {
  outline: none !important;
}

/* line 17 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap {
  background-color: #ddd;
/* For Mobile Menu When Open */
  box-shadow: -3px 0 2px #bbb;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* line 27 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
body {
  font-family: Arial;
  color: #131313;
}

/* line 31 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
label {
  font-family: Arial;
  color: #131313;
}

/* line 35 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.map-component {
  box-sizing: initial;
  position: absolute;
  z-index: 30;
}

/* line 40 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriControlsBR {
  right: 325px !important;
}

/* line 43 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap .HomeButton .home {
  background: url("images/map_tools_home.png") no-repeat center;
  border-bottom: 1px solid #000;
  background-color: #fff;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 0;
}

/* line 53 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap .HomeButton .home:hover {
  background-color: #eee;
}

/* line 56 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitDialogTitleBar {
  background: #055d7d !important;
}

/* line 59 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitDialogCloseIcon {
  background: url("images/close_x_symbol.png") no-repeat !important;
  top: 8px !important;
}

/* line 63 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitDialogTitle {
  color: #fff;
}

/* line 66 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.legend-container {
  overflow: hidden;
  width: 283px;
  right: 20px;
  z-index: 50;
  bottom: 5px;
}

/* line 73 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.legend-title-pane {
  padding-right: 0;
  text-align: left;
  height: 32px;
}

/* line 78 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend-toggle {
  width: 243px;
  color: #fff;
  background-color: #055d7d;
  font-family: Arial;
  font-size: 16px;
}

/* line 85 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.legend-title {
  display: inline-block;
  background: #fff;
  line-height: 37px;
  border-bottom: 0;
  padding: 0 20px;
  font-size: 14px;
  height: 32px;
}

/* line 94 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.legend-content {
  background-color: #fff;
  border-bottom: 0;
  font-size: 11px;
  font-weight: normal;
  color: #464646;
  border-top: 0;
}

/* line 102 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.legend-content * {
  font-style: normal !important;
  line-height: 1.1 !important;
}

/* line 106 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.legend-content .esriLegendLeft {
  font-size: 11px;
}

/* line 109 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriLegendLayerLabel {
  padding-top: 0 !important;
}

/* line 112 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend_indigenousLands_1 img,
#legend_indigenousLands_2 img,
#legend_indigenousLands_3 img {
  margin-right: -1px !important;
}

/* line 118 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend_indigenousLands_0_group > table,
#legend_nationalLevel_5 > table.esriLegendLayerLabel {
  font-size: 14px;
  color: #23426a;
}

/* line 125 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend_indigenousLands_0_group > table > tbody > tr > td,
#legend_indigenousLands_10_group > table > tbody > tr > td,
#legend_indigenousTransparency_17 > table:first-child > tbody > tr > td,
#legend_indigenousLands_5_group > table > tbody > tr > td,
#legend_nationalLevel_2 > table.esriLegendLayerLabel > tbody > tr > td,
#legend_nationalLevel_0 > table.esriLegendLayerLabel > tbody > tr > td {
  font-size: 11px;
  font-weight: bold;
  color: inherit;
}

/* line 135 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend_indigenousLands_0_group > table:first-child td {
  display: block;
  font-size: 11px;
  color: #464646 !important;
  margin-bottom: 5px;
}

/* line 141 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend table {
  line-height: 1.4;
}

/* line 143 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend table td[width="35"] {
  width: 10px;
}

/* line 145 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend table td[width="35"] img {
  margin-right: 6px;
}

/* line 148 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#infowindowContainer {
  position: absolute;
  margin-left: -325px;
  margin-top: -260px;
  width: 650px;
  height: auto;
  max-height: 542px;
  min-height: 200px;
  z-index: 150;
  left: 50%;
  top: 50%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 163 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.introTextTitle {
  color: #055d7d;
  font-weight: bold;
}

/* line 167 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#identifyNote {
  background-color: #ececec;
  border-top: solid 1px #e0e0e0;
  font-size: 12px;
  padding: 5px 5px 12px;
}

/* line 173 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.country {
  width: 15%;
}

/* line 175 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.name {
  width: 22%;
}

/* line 177 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.ident {
  width: 21%;
}

/* line 179 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.offic_rec {
  width: 22%;
}

/* line 181 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.rec_status {
  width: 22%;
  border-right: none !important;
}

/* line 185 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.moreWidth {
  width: 649px !important;
}

/* line 188 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#analysisTable {
  border-collapse: collapse;
  margin-top: 0;
  width: 100%;
  font-size: 12px;
  border: none;
  overflow-x: hidden;
}

/* line 196 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup .pointer.bottom {
  display: none;
}

/* line 199 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#analysisTable > tbody > tr > td {
  border-right: 1px solid #fbfbfb;
  padding: 4px;
  padding-left: 12px;
}

/* line 204 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriLegendLeft {
  padding-left: 0 !important;
}

/* line 207 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriLegendGroupLayer {
  padding-top: 7px !important;
}

/* line 210 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend .esriLegendService > div > table {
  padding-left: 0;
}

/* line 213 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.legend-content:not(.active) {
  overflow: hidden;
}

/* line 216 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend {
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 0;
}

/* line 221 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend #legend_msg,
#legend .esriLegendServiceLabel {
  display: none;
}

/* line 225 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend .esriLegendService {
  padding: 7px 14px 0;
}

/* line 228 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend > div:nth-last-child(2) {
  padding-bottom: 10px;
}

/* line 231 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.mobileLegendUpdate {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

/* line 239 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.button-widget {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 30px;
  width: 30px;
  right: 20px;
}

/* line 247 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.basemap-button,
.basemap-connector {
  top: 120px;
}

/* line 251 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.locator-button {
  top: 160px;
}

/* line 254 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#share-widgets {
  padding: 14px 15px 0;
}

/* line 257 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#embedShare {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background: url("images/embed_icon.png") no-repeat #fff;
  margin-left: 2px;
}

/* line 265 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.addthis_sharing_toolbox {
  display: inline-block;
}

/* line 268 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.share-button,
.share-connector {
  top: 200px;
}

/* line 272 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.print-button,
.print-connector {
  top: 240px;
}

/* line 276 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#indigenous-lands-help {
  position: relative;
  display: inline-block;
}

/* line 280 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.basemap-icon {
  background: url("images/map_tools_basemaps.png") no-repeat;
  height: 16px;
  width: 19px;
  margin-top: 7px;
  margin-left: 6px;
}

/* line 287 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.basemap-button:hover,
.LocateButton:hover,
.share-icon:hover,
.print-button:hover,
.print-icon:hover {
  background-color: #eee;
}

/* line 290 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.print-icon {
  background: url("images/print-icon.png") 4px 8px no-repeat #fff;
}

/* line 293 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.share-icon {
  background: url("images/map_tools_share.png") no-repeat;
  background-position: 8px 8px;
}

/* line 297 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.share-icon,
.print-icon {
  height: 100%;
  width: 100%;
}

/* line 301 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#community-level-tree {
  padding-left: 15px;
}

/* line 304 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#national-layer-lists {
  padding: 9px 0 0 15px;
}

/* line 306 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#national-layer-lists span {
  font-weight: normal !important;
}

/* line 308 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#national-layer-lists .percent-indigenous-layer-list {
  padding-left: 5px;
}

/* line 311 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#land-tenure-indigenous {
  margin-left: -30px;
}

/* line 314 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */

/* line 315 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionContainer * {
  color: #464646;
  font-size: 13px;
}

/* line 319 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionTitle {
  position: relative;
  font-weight: normal !important;
  margin-bottom: -9px !important;
  background: none !important;
  z-index: 10;
}

/* line 326 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionTitle + .dijitAccordionChildWrapper {
  padding-top: 10px;
}

/* line 329 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionTitle {
  padding: 12px 8px !important;
}

/* line 332 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionTitleSelected {
  background: url("images/ico-carat-down.png") 95% no-repeat !important;
}

/* line 335 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap .LocateButton .zoomLocateButton {
  background-color: transparent;
  background-image: url("images/map_tools_location.png");
  padding: 0;
}

/* line 340 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap .LocateButton .zoomLocateButton:hover {
  background-color: transparent;
  background-image: url("images/map_tools_location.png");
  background-position: 6px 6px;
}

/* line 345 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap .LocateButton {
  background-position: 6px 6px;
}

/* line 348 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap .zoomLocateButton:hover {
  background-position: -2px -36px;
}

/* line 352 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#help-dialog-indigenous,
#help-dialog-community,
#help-dialog-completeness {
  width: 300px;
}

/* line 355 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.basemap-container {
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow-y: auto;
  height: 400px;
  width: 390px;
  right: 60px;
  top: 65px;
}

/* line 365 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriBasemapGalleryLabelContainer {
  font-size: 13px;
  padding: 5px 0;
}

/* line 369 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriBasemapGallery {
  margin: 10px 5px;
}

/* line 372 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.share-container {
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow-y: auto;
  min-width: 50px;
  height: 60px;
  width: auto;
  right: 60px;
  top: 185px;
}

/* line 383 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.connector {
  background-color: #fff;
  height: 30px;
  right: 48px;
  width: 13px;
}

/* line 391 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.map-view-print .app-header {
  display: none;
}

/* line 394 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.map-view-print .app-body {
  top: 0;
  height: 100%;
}

/* line 399 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.map-view-print .map-component,
.map-view-print #legend-container,
.map-view-print #brMap_zoom_slider,
.map-view-print #mobile-menu-toggle {
  display: none !important;
}

/* line 406 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.popup-header {
  font-weight: normal;
  margin-bottom: -2px;
  padding-top: 0;
  font-size: 14px;
  color: #055d7d;
}

/* line 414 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.odd-row {
  background-color: #f3f7fc;
}

/* line 417 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.even-row {
  background-color: #fff;
}

/* line 420 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#column-header {
  background-color: #ececec;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 650px;
}

/* line 428 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#first-row {
  background-color: #00f;
}

/* line 431 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.help-marker {
  background: url("images/icon_question_mark.png") no-repeat;
  height: 16px;
  width: 16px;
  position: absolute !important;
  margin-top: 3px;
  margin-left: 5px;
  cursor: pointer;
}

/* line 440 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionContainer .help-marker {
  top: 5px !important;
}

/* line 443 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup .esriPopupWrapper {
  box-shadow: 0 10px 44px rgba(0,0,0,0.22) !important;
}

/* line 446 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup .titleButton.next,
.esriPopup .titleButton.prev {
  top: 12px;
}

/* line 450 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.popup-last {
  padding: 12px 14px;
  font-size: 12px;
  border-top: 1px solid #c6c6c6;
  color: #464646;
  margin-top: 0;
  background: #f7f7f7;
}

/* line 458 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.popup-last a {
  color: #055d7d;
  text-decoration: underline;
  float: right;
  margin-left: 1em;
}

/* line 464 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#infowindowContainer {
  box-shadow: 0 10px 44px rgba(0,0,0,0.22) !important;
}

/* line 467 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#additionalInfo {
  padding-right: 10px;
  color: #055d7d;
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
}

/* line 474 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriSimpleSliderDecrementButton {
  border-top: 1px solid #2fa3d9;
  background: url("images/map_tools_minus.png") no-repeat #fff;
  background-position: 7px 14px;
}

/* line 479 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriSimpleSliderIncrementButton {
  background: url("images/map_tools_plus.png") no-repeat #fff;
  background-position: 8px 7px;
}

/* line 483 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriSimpleSlider {
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  color: transparent !important;
}

/* line 488 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup {
  font-family: Arial !important;
  font-size: 14px !important;
}

/* line 492 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.simpleGeocoder .esriGeocoder {
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  font-family: Arial !important;
}

/* line 497 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.map-component {
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}

/* line 501 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */

/* line 502 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.analysis-buttons button:focus,
.analysis-buttons button:active {
  outline: 0 !important;
}

/* line 505 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#removeGraphic,
#exportAnalysis,
#draw-shape,
#upload-shapefile {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  width: 47%;
  background-color: #055d7d !important;
  left: 9px;
}

/* line 516 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */

/* line 521 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#removeGraphic:hover,
#exportAnalysis:hover,
#draw-shape:hover,
#upload-shapefile:hover,
#remove-graphics:hover {
  background-color: #0a89b8 !important;
}

/* line 524 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#remove-graphics {
  margin-left: 15px !important;
  margin-right: -5px !important;
}

/* line 528 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#draw-shape {
  margin-left: -13px !important;
}

/* line 531 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#upload-shapefile {
  position: relative;
  text-indent: 15px;
}

/* line 534 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#upload-shapefile:before {
  display: block;
  position: absolute;
  content: "\020";
  width: 30px;
  height: 38px;
  background: url("images/ico-upload.png") center no-repeat;
  background-size: 17px;
  top: 0;
  left: 50%;
  margin-left: -61px;
}

/* line 546 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#removeGraphic,
#remove-graphics {
  position: relative;
  text-indent: 15px;
}

/* line 550 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#removeGraphic:before,
#remove-graphics:before {
  display: block;
  position: absolute;
  content: "\020";
  width: 30px;
  height: 38px;
  background: url("images/ico-remove.png") center no-repeat;
  background-size: 12px;
  top: 0;
  left: 50%;
  margin-left: -50px;
}

/* line 562 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */

/* line 563 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#remove-graphics:before {
  margin-left: -59px;
}

/* line 566 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#exportAnalysis {
  position: relative;
  text-indent: 15px;
}

/* line 569 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#exportAnalysis:before {
  display: block;
  position: absolute;
  content: "\020";
  width: 30px;
  height: 38px;
  background: url("images/ico-export.png") center no-repeat;
  background-size: 17px;
  top: 0;
  left: 50%;
  margin-left: -77px;
}

/* line 584 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#remove-graphics {
  padding: 10px;
  margin: 5px;
  width: 30%;
  background-color: #055d7d !important;
}

/* line 591 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.display-three {
  width: 30% !important;
}

/* line 594 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitDialog {
  font-size: 14px;
}

/* line 597 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitDialogPaneContent {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 601 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitDialogTitle {
  font-weight: normal !important;
}

/* line 604 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup .titleButton.close {
  margin-right: 10px !important;
  font-size: 22px;
  height: 13px !important;
  width: 13px !important;
  margin-top: 11px !important;
  float: right;
}

/* line 619 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.titleButton.close {
  background: none;
  margin-top: -17px;
  margin-right: 15px !important;
  font-size: 22px;
  height: 13px !important;
  width: 13px !important;
  float: right;
  cursor: pointer;
}

/* line 629 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#title_title {
  float: left;
  padding-right: 10px;
}

/* line 633 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#titleResults {
  font-size: 12px;
  margin-left: 20px;
  background: none;
  color: #e4dbdb;
  font-style: italic;
  display: inline-block;
  margin-top: 2px;
}

/* line 642 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.sizer.content {
  font-size: 14px;
  overflow: auto;
}

/* line 646 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.noPositioning {
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
}

/* line 652 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup .titleButton.maximize,
.titleButton.maximize {
  display: none;
}

/* line 655 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup .titlePane,
.titlePane {
  padding: 10px 10px 10px 14px !important;
  -webkit-border-radius: 0px 0px 0px 0px !important;
  border-bottom: 1px solid #000;
  font-size: 16px;
  background-color: #055d7d !important;
  font-family: Arial !important;
}

/* line 663 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.titlePane {
  color: #fff;
}

/* line 666 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#aoiIntersect {
  background-color: #c6d9f0;
}

/* line 669 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#analysis-dialog {
  width: 550px;
}

/* line 672 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#analysis-content {
  font-size: 14px;
}

/* line 675 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.analysis-location {
  position: absolute !important;
  left: 50% !important;
  margin-left: -325px !important;
  top: 50% !important;
  margin-top: -175px !important;
}

/* line 685 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriPopup .contentPane,
.contentPane {
  padding: 0 0px 0px 0px !important;
}

/* line 689 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.odd-row,
.even-row {
  border-top: solid 1px #eee;
  padding: 9px 14px;
  margin-left: 0;
  font-size: 13px;
}

/* line 694 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.odd-row:first-child,
.even-row:first-child {
  padding-top: 14px;
  border-top: none;
}

/* line 699 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.actionsPane {
  display: none;
}

/* line 702 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-widget-container {
  bottom: 20px;
  left: 20px;
  top: 20px;
}

/* line 707 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.layer-accordion {
  height: 100%;
  width: 100%;
}

/* line 711 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-node-info {
  background: url("images/info-icon.png") no-repeat #fff;
  float: right;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  margin-top: -2px;
  margin-left: -48px;
  color: #808080;
  cursor: pointer;
}

/* line 722 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-widget-title-pane {
  background-color: #fff;
  box-sizing: initial;
  line-height: 32px;
  height: 32px;
}

/* line 728 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-width {
  width: 360px;
}

/* line 731 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.mobile .tree-width {
  width: 100%;
}

/* line 735 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.mobile .dijitAccordionContainer {
  width: 290px;
}

/* line 738 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#tree-title {
  background-color: #055d7d;
}

/* line 741 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-title-text {
  display: inline-block;
  color: #fff;
}

/* line 745 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-title-text span {
  padding: 0 12px;
  font-size: 14px;
  font-family: Arial;
}

/* line 750 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-container-toggle {
  display: inline-block;
  padding: 0 12px;
  margin-left: -33px;
  color: #fff;
  background-color: #2fa3d9;
}

/* line 760 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-content {
  background-color: #fff;
  position: absolute;
  overflow: hidden;
}

/* line 765 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionTitle:first-child {
  border-top: none !important;
  padding-top: 8px;
}

/* line 769 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionInnerContainer {
  padding-top: 3px;
}

/* line 772 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitAccordionTitleSelected,
.dijitAccordionContainer {
  border: none !important;
  border-top: 1px solid #888 !important;
  background-image: none !important;
  padding-bottom: 0 !important;
}

/* line 778 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.mobile .tree-content {
  bottom: 0;
  left: 0;
  top: 0;
}

/* line 783 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.radio-button-container label {
  font-size: 13px;
}

/* line 786 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.mobile .radio-button-container label {
  margin: 0;
}

/* line 789 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.brMap .tree-content.active {
  border: none !important;
  border-top: 0;
}

/* line 793 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-content .tester {
  height: 200px;
}

/* line 796 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.analysis-button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  text-align: center;
  line-height: 32px;
  height: 32px;
  right: 370px;
  top: 20px;
}

/* line 805 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.simpleGeocoder .esriGeocoder input {
  font-family: Arial;
}

/* line 808 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.data-completeness-label,
.analysis-button-label {
  font-size: 13px;
  font-family: Arial;
}

/* line 812 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.analysis-button-label,
.data-completeness-label,
.data-completeness-toggle {
  padding: 0 10px;
}

/* line 817 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.data-completeness-label {
  padding-right: 30px;
}

/* line 820 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.data-completeness-container {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  text-align: center;
  line-height: 32px;
  height: 32px;
  right: 505px;
  top: 20px;
}

/* line 830 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.data-completeness-toggle {
  background-color: #2fa3d9;
  display: inline-block;
  height: 32px;
}

/* line 835 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 1px solid #2fa3d9 !important;
}

/* line 838 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#analysisLogo {
  background: url("images/icon_analysis.png") no-repeat 9px;
  background-color: #2fa3d9;
  width: 33px;
  height: 32px;
  display: block;
  margin-left: -33px;
  position: absolute;
}

/* line 847 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.simpleGeocoder .esriGeocoder,
.esriSimpleSlider,
.button-widget {
  border: none !important;
}

/* line 850 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.simpleGeocoder .esriGeocoder .esriGeocoderSearch {
  background: url("images/magnifying_glass_symbol.png") no-repeat 9px !important;
  background-color: #2fa3d9 !important;
  width: 33px;
  height: 32px;
  position: absolute;
  left: -37px;
  top: -6px;
  opacity: 100;
}

/* line 860 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.simpleGeocoder .esriGeocoder .esriGeocoderSearch:hover {
  opacity: 100 !important;
}

/* line 864 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#completeness-slider {
  width: 220px;
  margin-top: 5px;
}

/* line 868 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.data-complete-checkbox-class {
  background: url("images/checkbox_unchecked.png") no-repeat;
}

/* line 871 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.data-complete-checkbox-class-checked {
  background: url("images/checkbox_checked.png") no-repeat;
}

/* line 874 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#data-complete-checkbox {
  height: 11px;
  width: 11px;
  display: inline-block;
  cursor: pointer;
}

/* line 880 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.geocoder-container {
  right: 80px;
  top: 20px;
}

/* line 884 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitSliderLeftBumper,
.tundra .dijitSliderRightBumper {
  display: none;
}

/* line 887 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitSliderProgressBarH {
  background: #2fa3d9 !important;
  height: 8px;
}

/* line 891 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitSliderRemainingBarH {
  background: #828282 !important;
  height: 8px;
}

/* line 896 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tundra .dijitSliderImageHandleH {
  background: #055d7d !important;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-top: 1px;
}

/* line 901 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.simpleGeocoder .esriGeocoder input {
  box-shadow: none;
  height: 20px;
}

/* line 905 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.analysis-popup-button {
  display: inline-block;
  margin: 5px;
  background-color: #fff;
  color: #000;
  outline: 1px solid #808080;
  font-size: 14px;
  float: right;
  margin-bottom: 15px;
  margin-top: -50px;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 80px;
}

/* line 920 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#legend-toggle-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 32px;
  width: 32px;
  line-height: 32px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: auto !important;
  text-align: center;
  font-size: 22px;
  background-color: #2fa3d9;
}

/* line 939 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.titlePane.analysis-header {
  font-size: 21px !important;
  color: #000 !important;
  background-color: #f7f7f7 !important;
  border-bottom: none;
}

/* line 945 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */

/* line 948 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.highcharts-container {
  margin-top: -20px;
}

/* line 951 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
#printAnalysis {
  margin-right: 20px;
}

/* line 954 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-data-section {
  margin: 10px;
  padding: 5px;
  border: 1px solid #000;
}

/* line 959 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-data-section > span {
  cursor: pointer;
  margin: 0;
}

/* line 998 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.national-active-indicator {
  border: 1px solid #000;
}

/* line 1005 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
.tree-data-section input[type='radio'] {
  margin: 0 0 0 5px;
}

/* line 74 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/analysis.styl */

/* line 9 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree .collapsed ul {
  display: none;
}

/* line 4 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree {
  padding-left: 5px;
  font-size: 12px;
  margin: 0;
}

/* line 9 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */

/* line 14 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree .disabled .tree-node-label {
  cursor: not-allowed;
  color: #bbb;
}

/* line 18 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree,
.checkbox-tree ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

/* line 23 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree li,
.checkbox-tree ul li {
  position: relative;
}

/* line 25 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree:not(:first-child),
.checkbox-tree ul:not(:first-child) {
  padding-left: 20px;
  position: relative;
}

/* line 28 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree:not(:first-child):not(:last-child):before,
.checkbox-tree ul:not(:first-child):not(:last-child):before {
  position: absolute;
  display: block;
  content: "\020";
  width: 1px;
  height: calc(100% + 23px);
  background: #c2c2c2;
  top: -8px;
  left: 11px;
}

/* line 37 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree:not(:first-child):after,
.checkbox-tree ul:not(:first-child):after {
  position: absolute;
  display: block;
  content: "\020";
  width: 14px;
  height: 1px;
  background: #c2c2c2;
  top: 15px;
  left: 11px;
}

/* line 47 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.tree-node-label {
  cursor: pointer;
  padding: 5px;
}

/* line 51 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.tree-node-label:active {
  text-shadow: -1px -1px 1px #ddd;
  outline: 1px solid #2fa3d9;
}

/* line 56 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
body:not(.mobile) .tree-widget-container .tree-content {
  bottom: 0;
  top: 32px;
}

/* line 62 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree input[type='checkbox'] {
  margin: 0 5px;
}

/* line 65 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree .tree-row-content {
  padding: 5px 0;
}

/* line 68 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.checkbox-tree .tree-toggle-symbol {
  display: none;
}

/* line 73 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */
.mobile .checkbox-tree {
  font-size: 14px;
}

/* line 76 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/ReactTree.styl */

/* line 1 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */

/* line 5 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.dijitAccordionTitleFocus {
  outline: none !important;
}

/* line 8 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.dijitAccordionTitle {
  font-size: 15px;
  color: #047;
}

/* line 13 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.national-layer-selection-label {
  font-weight: bold;
  color: #464646;
  padding: 0 5px;
}

/* line 19 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.land-tenure-menu-controls {
  text-align: center;
  margin: 4px 0 15px;
}

/* line 23 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.land-tenure-menu-button {
  border: 1px solid #8db3e2;
  color: #8db3e2;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

/* line 31 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.land-tenure-menu-button.active {
  background: #8db3e2;
  color: #fff;
}

/* line 35 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.land-tenure-menu-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-right: 0;
}

/* line 44 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.land-tenure-menu-button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-left: 1px solid #8db3e2;
}

/* line 53 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.national-layer-list-item {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 13px;
  color: #464646;
}

/* line 60 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.national-layer-list-item-question {
  display: none;
}

/* line 63 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.national-layer-list-item.active {
  border-left: 5px solid #c6d9f0;
  margin: 5px 0 5px -5px;
}

/* line 67 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.national-layer-list-item.active .national-layer-list-item-question {
  display: block;
}

/* line 70 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
.national-layer-list-item.active .national-layer-list-item-label {
  font-weight: bold;
  color: #8db3e2;
}

/* line 74 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/nationalLayerList.styl */
#national-layer-sublabel {
  padding-left: 20px;
  font-style: italic;
}

/* line 1011 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
body:not(.mobile) .launch-map-button {
  margin-right: 10px;
  float: right;
}

/* line 1016 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
@media (max-width: 800px) {

/* line 1017 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  .national-layer-selection-label {
    font-size: 11px;
    padding-right: 0;
  }

/* line 1022 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  #column-header {
    width: auto;
  }

/* line 1024 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  .esriPopupWrapper.noPositioning {
    width: auto;
    right: initial !important;
  }

/* line 1027 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  #identifyNote {
    width: auto;
    right: initial !important;
  }
}

/* line 1031 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
@media (max-width: 650px) {

/* line 1032 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  #infowindowContainer {
    width: 98%;
    margin-left: 0;
    left: 1%;
    overflow-x: auto;
  }

/* line 1037 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  #column-header {
    width: 98% !important;
    position: inherit;
  }

/* line 1040 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  #fillerColumn {
    display: none;
  }
}

/* line 1044 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
@media (max-width: 1050px) {

/* line 1045 : /Users/lucascotner/Documents/Projects/2278-wri-global-map-of-indigenous-and-community-lands/src/css/map.styl */
  .wri-header-attribution {
    display: none;
  }
}
