@import "config"
@import "analysis"

.launch-dialog-title
	margin 0

.launch-dialog-subtitle
	font-style italic
	font-size 14px
	
.launch-dialog-content
	font-size 15px
	
.dijitDialog .dijitDialogCloseIcon
	outline none !important

.brMap
	background-color $mainBackground
	/* For Mobile Menu When Open */
	box-shadow -3px 0 2px #BBB
	position absolute
	bottom 0
	right 0
	left 0
	top 0
	
body
	font-family Arial
	color #131313

label
	font-family Arial
	color #131313
	
.map-component	
	box-sizing initial
	position absolute
	z-index 30
	
.esriControlsBR
	right 300px
	
.brMap .HomeButton .home
	background url('images/ico-home.png') no-repeat center
	border-bottom 1px solid black
	background-color white
	border-radius 0
	cursor pointer
	height 30px
	width 30px
	padding 0
	
.brMap .HomeButton .home:hover
	background-color $esriHover
	
.legend-container
	width 260px
	right 20px
	z-index 50
	bottom 0
	
.legend-title-pane
	border-bottom 1px solid $mainBorder
	padding-right 5px
	text-align left
	
#legend-toggle
	width 218px
	color white
	background-color #06457b
	
.legend-title
	border-radius-top(3px)
	border 1px solid $mainBorder
	display inline-block
	background white
	line-height 30px
	border-bottom 0
	padding 0 20px
	font-size 14px
	height 30px
	
.legend-content
	border 1px solid $mainBorder
	background-color white
	border-bottom 0
	font-size 13px
	border-top 0

.legend-content:not(.active)
	overflow hidden
	
#legend
	max-height 300px
	overflow-y auto
	
#legend #legend_msg 
#legend .esriLegendServiceLabel
	display none

#legend .esriLegendService
	padding-bottom 0px

#legend > div:nth-last-child(2)
	padding-bottom 10px

.button-widget
	background-color white
	border 1px solid black
	border-radius(5px)
	height 30px
	width 30px
	right 20px
	
.basemap-button
.basemap-connector
	top 120px
	
.locator-button
	top 160px

#share-widgets
	padding 14px 15px 0

#embedShare
	display inline-block
	cursor pointer
	height 32px
	width 32px
	background url(images/embed_icon.png) no-repeat #fff
	margin-left -2px
	
.addthis_sharing_toolbox
	display inline-block
	
.share-button
.share-connector	
	top 200px

.basemap-icon
	background url('images/basemap.png')	
	
.share-icon
	background url('images/share-icon.png')
	background-position -3px -1px
	
.basemap-icon
.share-icon
	height 100%
	width 100%
	
.brMap .LocateButton .zoomLocateButton
	background-color transparent
	background-image url('images/locate.png')

.brMap .LocateButton .zoomLocateButton:hover
	background-color transparent
	background-image url('images/locate.png')
	
.brMap .LocateButton .zoomLocateButton
.basemap-icon
	background-position -2px -2px
	
.brMap .LocateButton .zoomLocateButton:hover
.basemap-icon:hover
	background-position -2px -36px
	
.share-icon:hover
	background-position -3px -36px
	
.basemap-container
	border 1px solid black
	background-color white
	border-radius(5px)
	overflow-y auto
	height 400px
	width 390px
	right 60px
	top 65px
	
.esriBasemapGalleryLabelContainer
	font-size 13px
	padding 5px 0
	
.esriBasemapGallery
	margin 10px 5px
	
.share-container
	border 1px solid black
	background-color white
	border-radius(5px)
	overflow-y auto
	min-width 50px
	height 60px
	width auto
	right 60px
	top 185px

.connector
	border-bottom 1px solid black
	border-top 1px solid black
	background-color white
	height 30px
	right 48px
	width 13px
	
.popup-header
	font-weight bold
	padding-top 10px
	color #06457b

.odd-row
	background-color #F0EFF4
	
.popup-last
	padding-top 10px
	font-size 10px
	
.esriPopup .titlePane
	padding 10px
	-webkit-border-radius 0px 0px 0px 0px !important
	border-bottom 1px solid black
	font-size 14px
	background-color #06457b !important
		
.esriPopup .contentPane
	max-height none !important
	padding 0px 6px 6px 10px

.tree-widget-container
	left 20px
	top 20px
	
.tree-widget-title-pane	
	border 1px solid $mainBorder
	background-color white
	box-sizing initial
	line-height 32px
	height 32px
	
.tree-width
	width 280px
	
.tree-title-text
	border-right 1px solid $mainBorder
	display inline-block
	
.tree-title-text span
	padding 0 12px

.tree-container-toggle
	display inline-block
	padding 0 12px

.tree-content
	background-color white
	position absolute
	overflow hidden
	
.brMap .tree-content.active
	border 1px solid $mainBorder
	border-top 0

.tree-content .tester
	height 200px
	
.analysis-button
	border 1px solid $mainBorder
	border-radius(5px)
	background-color white
	text-align center
	line-height 32px
	height 32px
	right 70px
	top 20px
	
.analysis-button-label
.data-completeness-label
.data-completeness-toggle
	padding 0 10px
	
.data-completeness-container
	border 1px solid $mainBorder
	border-radius(5px)
	background-color white
	text-align center
	line-height 32px
	height 32px
	right 160px
	top 20px
	
.data-completeness-toggle
	border-right 1px solid $mainBorder
	display inline-block
	height 32px
	
.geocoder-container
	right 415px
	top 20px
	
.simpleGeocoder .esriGeocoder input
	box-shadow none
	height 20px
	
.analysis-popup-button
	display inline-block
	margin 5px
	background-color white
	color black
	outline 1px solid gray
	font-size 14px
	float right
	margin-bottom 15px
	margin-top -50px
	padding 20px
	padding-top 12px
	padding-bottom 12px
	width 80px
	
.titlePane.analysis-header
	font-size 21px !important
	color black !important
	background-color #F7F7F7 !important
	border-bottom none
	
.title
	margin-top 10px
	margin-bottom -10px
	
.highcharts-container
	margin-top -20px
	
#printAnalysis
	margin-right 20px
	
.tree-data-section
	margin 10px
	
.tree-data-section input[type='radio']
	margin 0 0 0 5px	
	
@import "ReactTree"
	
body:not(.mobile) .launch-map-button
	margin-right 10px
	float right