@import "config"

.mobile-menu
	background-color white
	position absolute
	width 290px
	bottom 0
	left 0
	top 0
	
.mobile-menu-toggle-button
	border-radius(5px)
	background-color white
	border 1px solid black
	text-align center
	line-height 28px
	font-size 32px
	height 30px
	width 30px
	color #777
	left 20px
	top 20px
	
.mobile-menu-content
	position absolute
	overflow-y auto
	padding 0 10px
	bottom 5px
	top 50px
	right 0
	left 0
	
.mobile-menu:not(.open)
	display none
	
.mobile-menu .segmented-menu-button
	border 1px solid black
	text-align center
	padding 5px 10px
	color black
	
.mobile-menu .segmented-menu-button.active
	background-color $mainBorder
	color white
	
.mobile-menu-content:not(.active)
	display none
	
.mobile-menu .menu-controls
	text-align center
	margin-top 10px
	
.mobile-menu .segmented-menu-button:first-of-type
	border-radius-left(5px)
	border-right 0
	
.mobile-menu .segmented-menu-button:last-of-type
	border-radius-right(5px)
	border-left 0
	
body:not(.mobile) .mobile-menu
body:not(.mobile) .mobile-menu-toggle-button
	display none
	
/** These Styles are Activated when the Helper class adds a mobile class to the body tag **/
.mobile .launch-map-button
	display block
	margin 0 auto
	
.mobile .basemap-container
	height 250px
	width 150px
	
.mobile .esriBasemapGallery
	margin 10px
	
.mobile .basemap-container
	top 20px
	
.mobile .esriControlsBR
	right 5px
	
.mobile .data-completeness-container
.mobile .tree-widget-container
.mobile .geocoder-container
.mobile .legend-container
.mobile .analysis-button
.mobile .title-area .name h1
.mobile .esriAttribution
.mobile #upload-shapefile
	display none
	
/** These Are Styles we need to override with Media Queries as they may need to be 
		applied before the JavaScript can detect were on mobile and add the mobile class **/
@media (max-width: 1000px)
	.geocoder-container
		right 70px !important
		top 70px !important
		
@media (max-width: 800px)
	.title-area .name h1
		display none
	