.modal-print-button
  display block
  margin 0 auto
  margin-top 10px

.print-modal-header
  text-align center

.print-input-container
  margin-bottom 10px

.middle-print
  padding-top 30px

.print-input
  float right
  width 47%

.print-input-text
  width 45%
  border 1px solid #acacac !important

.print-modal-label
  width 50%
