$lightBlue = #2FA3D9
$mildBlue = #2FA3D9
$darkFont = #464646

.dijitAccordionTitleFocus
	outline none !important

.dijitAccordionTitle
	// background $lightBlue !important
	font-size 15px
	color #004477

.national-layer-selection-label
	font-weight bold
	font-size 13px
	color #005e7a
	// padding-left 22px
	// text-indent -33px
	width calc(100% - 20px)
	display inline-block

.land-tenure-menu-controls
	text-align center
	margin 10px 0 15px
	margin-left 20px

.land-tenure-menu-button
	// border 1px solid $mildBlue
	color gray
	padding 8px 30px
	font-weight bold
	font-size 13px
	cursor pointer
	background-color #e3e4e5


.land-tenure-menu-explanation
	padding-left 20px
	font-weight 600
	font-size 11px
	color #787878

.land-tenure-menu-button.active
	color white
	background url(images/icon_toggle_checkmark.svg) no-repeat $mildBlue 10% 50%

.land-tenure-menu-button:first-of-type
	border-top-left-radius 5px
	border-bottom-left-radius 5px
	-moz-border-radius-topleft 5px
	-moz-border-radius-bottomleft 5px
	-webkit-border-top-left-radius 5px
	-webkit-border-bottom-left-radius 5px
	border-right 0

.land-tenure-menu-button:last-of-type
	border-top-right-radius 5px
	border-bottom-right-radius 5px
	-moz-border-radius-topright 5px
	-moz-border-radius-bottomright 5px
	-webkit-border-top-right-radius 5px
	-webkit-border-bottom-right-radius 5px
	border-left 1px solid $mildBlue

.radio-button-container
	padding-top 5px
	padding-bottom 5px

.national-layer-list-item
	padding 3px 5px
	cursor pointer
	font-size 12px
	color #005e7a
	margin-left 20px

.national-layer-list-item.subTitle
	font-weight 600
	font-size 13px
	color #787878

.national-layer-list-item.subLayer
.national-layer-list-item.activesubLayer
	font-size 12px
	color #005E7A
	font-weight 600

.national-layer-list-item-question
	display none

.land-tenure-layer-list .national-layer-list-item-label
	background url(images/uncheck_gray.svg) no-repeat #fff
	padding-left 20px
	color #b8b9b9

.national-layer-list-item.active .national-layer-list-item-label
	background url(images/radio_checked.svg) no-repeat #fff
	padding-left 20px

.national-layer-list-item.active .national-layer-list-item-question
	display block
	margin-left 20px
	font-weight 600

.national-layer-list-item.active .national-layer-list-item-label
	font-weight bold
	color #2FA3D9

.percent-indigenous-layer-list .subTitle
	margin-left 15px
	cursor auto
	margin-bottom 5px

.percent-indigenous-layer-list .subLayer
	background url(images/uncheck.svg) no-repeat #fff
	padding-left 20px
	margin-left 40px

.subLayer .national-layer-list-item-label, .activesubLayer .national-layer-list-item-label
	position relative
	top -5px

.percent-indigenous-layer-list .activesubLayer
	background url(images/radio_checked.svg) no-repeat #fff
	padding-left 20px
	margin-left 40px

#national-layer-sublabel
	padding-left 20px
	font-style italic

#nationalLevelNone, #nationalLevelIndicators, #nationalLevelPercent
	display inline-block
	cursor pointer
	height 16px
	width 20px
	z-index 10

#nationalLevelIndicators
	vertical-align super

#nationalLevelPercent
	vertical-align text-bottom

#nationalLevelNone
	vertical-align sub

.checked
	background url(images/radio_checked.svg) no-repeat #fff 0 70%

.unchecked
	background url(images/uncheck.svg) no-repeat #fff 0 70%
