.checkbox-tree .collapsed ul
    display none
    
.checkbox-tree
	padding-left 5px
	font-size 12px
	
.checkbox-tree ul	
	text-indent -30px
	margin-left 50px
	padding 0

.checkbox-tree
.checkbox-tree ul
	list-style-type none
	
.checkbox-tree input[type='checkbox']
	margin 0 5px
	
.checkbox-tree .tree-row-content
	padding 5px 0
	
.checkbox-tree .tree-toggle-symbol
	font-size 16px
	
.mobile .checkbox-tree input[type='checkbox']
	border 1px solid $mainBorder
	-webkit-appearance none
	vertical-align middle
	border-radius(5px)
	cursor pointer
	outline none
	height 20px
	width 20px
	
.mobile .checkbox-tree input[type='checkbox']:checked
	background $webkitBlue