.reportMap
	background-color #404040
	/* For Mobile Menu When Open */
	box-shadow -3px 0 2px #BBB
	// position absolute
	height 600px
	width 450px
	left 0
	margin-top 100px
	display inline-block
	padding 1px

.map .container
	background #404040 !important

body
	background #404040
	color white

.country-name
	font-size 2em

#report-map-header
	position absolute
	padding 10px
	height 81px
	z-index 50
	width 430px
	background #404040

.report-component
	display inline-block
	height 100%
	width calc(50% - 250px)
	vertical-align top

.total-lands, .comm-indig-lands, .indicator-table-container, .indicator-footer-container
	width 100%

.total-lands, .comm-indig-lands
	height 50%

.indicator-table-container
	height 75%
	text-align center

.indicator-footer-container
	height 25%
	text-align center

.footer-header
	margin 0

.footer-child
	display inline-block
	width 22.5%

.low
	height 25px
	width 25px
	border-radius 50%
	background-color yellow
	line-height 25px

.medium
	height 25px
	width 25px
	border-radius 50%
	background-color orange
	line-height 25px

.high
	height 25px
	width 25px
	border-radius 50%
	background-color red
	line-height 25px

.highest
	height 25px
	width 25px
	border-radius 50%
	background-color purple
	line-height 25px

.unavailable
	color grey
	font-size 12px
	font-style italic

.middle-column
	margin-left 10px
	margin-right 10px
