.reportMap
	background-color #404040
	height 600px
	width 450px
	left 0
	margin-top 100px
	display inline-block
	padding 1px

.map .container
	background #404040 !important

body
	background #404040
	color #ccc

.country-name
	font-size 2em
	margin-left 1.1em

#report-map-header
	position absolute
	padding 10px
	height 81px
	z-index 50
	width 430px
	background #404040

.report-component
	display inline-block
	height 100%
	width calc(50% - 250px)
	vertical-align top

.map-component
	box-sizing initial
	position absolute
	z-index 30

.button-widget
	background-color white
	border 1px solid black
	border-radius(5px)
	height 30px
	width 30px
	left 30px
	display block

.share-container
	background-color white
	border-radius(5px)
	overflow-y auto
	min-width 50px
	height 60px
	width auto
	left 73px
	top 145px

.connector
	background-color white
	height 30px
	left 60px
	width 13px

.share-button
	top 160px

 .share-connector
	 top 161px

#share-widgets
	padding 14px 15px 0

#embedShare
	display inline-block
	cursor pointer
	height 33px
	width 33px
	background url(images/embed_icon.png) no-repeat #fff
	margin-left -4px

#csvShare
	display inline-block
	cursor pointer
	height 33px
	width 33px
	background url(images/export-archive.png) no-repeat gray 62% 35%

.addthis_sharing_toolbox
	display inline-block
	vertical-align bottom

.at_flat_counter
	display none !important

.share-icon
	background url('images/map_tools_share.png') no-repeat
	background-position 8px 8px

.share-icon
	height 100%
	width 100%

.share-icon:hover
	background-color #eee


.tundra .dijitDialogTitleBar
	background #055d7d !important
	padding 6px !important

.tundra .dijitDialogCloseIcon
	background url('images/close_x_symbol.png') no-repeat !important
	top 8px !important

.tundra .dijitDialogTitle
	color white

.tundra .dijitDialogPaneContent
	color black

.total-lands, .comm-indig-lands, .indicator-table-container, .indicator-footer-container
	width 100%

.total-lands, .comm-indig-lands
	height 50%

.indicator-table-container
	height 75%
	text-align center
	tr
		height 2em

.indicator-footer-container
	height 25%
	text-align center
	margin-top 0.5em

.footer-header
	margin 0
	font-size 1em
	margin-bottom 0.5em

.footer-child
	display inline-block
	width 22.5%

.low
	height 25px
	width 25px
	// border-radius 50%
	background-color #47AB47
	line-height 25px
	margin 0 auto
	color #404040

.medium
	height 25px
	width 25px
	// border-radius 50%
	background-color #FFFF91
	line-height 25px
	margin 0 auto
	color #404040

.high
	height 25px
	width 25px
	// border-radius 50%
	background-color #EB8739
	line-height 25px
	margin 0 auto
	color #404040

.highest
	height 25px
	width 25px
	// border-radius 50%
	background-color #DF4747
	line-height 25px
	margin 0 auto
	color #404040

.unavailable
	color grey
	font-size 12px
	font-style italic

.middle-column
	padding-left 10px
	padding-right 10px

.chart-center
	text-align center
	line-height .3

.chart-percent
	color white
	font-weight bold
	font-size 24px
	// line-height 0

.chart-circle
	border-radius 20px
	background red
	line-height 0

.inline-chart
	display inline-block

.flag-icon
	position absolute !important
	height 2.4em !important
	width 2em !important

.header-row td
	border-bottom 1px solid #175e79

.report-header
	font-size 1em

.report-value-table
	margin 0 auto

.indicator-table-container
	border-bottom 1px solid #175e79
