doctype html
html
	head
		title Community Rights
		meta(name='author', content='BlueRaster, WRI')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=7, IE=9, IE=10')
		style.
			html,body,.root{height:100%;width:100%;padding:0;margin:0;}
		link(rel='stylesheet', href='libs/foundation.min.css')
		link(rel='stylesheet', href='css/base.css')
		link(rel='stylesheet', href='css/data.css')
		<!--[if lt IE 9]>
		script(src='libs/es5-shim.min.js')
		script(src='libs/es5-sham.min.js')
		script(src='libs/html5shiv.js')
		<![endif]-->
	body.tundra.crl
		div.root
			include templates/header.jade
			div.app-body
		script(src='libs/jquery-2.1.3.min.js')
		script(src='libs/foundation.min.js')
		script.
			$(document).foundation();
			$("#data-page-link").addClass("exampleClass");
			// Thanks Foundation, Hack because the only foundation component
			// does not work on mobile unless I do this, but it works on the map page
			$('.toggle-topbar a').click(function(){});