doctype html
html
    head
        title Community Rights
        meta(name='author', content='BlueRaster, WRI')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=7, IE=9, IE=10')
        style.
            html,body,.root,.app{height:100%;width:100%;padding:0;margin:0;overflow:hidden;}
        link(rel='stylesheet', href='libs/foundation.min.css')
        link(rel='stylesheet', href='css/base.css')
        link(rel='stylesheet', href='css/home.css')
        link(rel='stylesheet', type='text/css', href='//cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css')
        link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css')

        <!--[if lt IE 9]>
        script(src='libs/es5-shim.min.js')
        script(src='libs/es5-sham.min.js')
        script(src='libs/html5shiv.js')
        <![endif]-->
    body.tundra.crl
        div.root
            include templates/header.jade
            div.app-body
                div#backgroundImage
                    div#slides
                        div#imageOne
                            label.slideLabel(for='carousel-item-1') This image was taken with the consent and cooperation of the Yudja Indigenous people and the authorization of the Brazilian National Indian Foundation - FUNAI
                        div#imageTwo
                            label.slideLabel(for='carousel-item-2') This image was taken with the consent and cooperation of the Yudja Indigenous people and the authorization of the Brazilian National Indian Foundation - FUNAI
                        div#imageThree
                            label.slideLabel(for='carousel-item-3') This image was taken with the consent and cooperation of the Yudja Indigenous people and the authorization of the Brazilian National Indian Foundation - FUNAI
                        div#imageFour
                            label.slideLabel(for='carousel-item-4') This image was taken with the consent and cooperation of the Yudja Indigenous people and the authorization of the Brazilian National Indian Foundation - FUNAI
                        div#imageFive
                            label.slideLabel(for='carousel-item-5') This image was taken with the consent and cooperation of the Yudja Indigenous people and the authorization of the Brazilian National Indian Foundation - FUNAI

                div#homeText
                    
                    button#launch-map.launch-map-button Launch Interactive Map
                    div#language-flags.f16 Language:
                            li#britishFlag.flag.flags.gb
                            li#germanFlag.flag.flags.de
                            li#japanFlag.flag.flags.jp
                            li#chinaFlag.flag.flags.cn
                            li#frenchFlag.flag.flags.fr
                        //- #britishFlag.flags(alt='British')
                        //- #germanFlag.flags(alt='German')
                        //- #japanFlag.flags(alt='Japanese')
                        //- #chinaFlag.flags(alt='Chinese')
                        //- #frenchFlag.flags(alt='French')

                    div(style='font-size:18px;')
                        p.launch-dialog-content
                            div(style='font-size:18px;')
                                p.launch-dialog-content
                                    span.introTextTitle The Global Platform of Indigenous and Community Lands
                                    |  is a dynamic, online mapping tool that provides critical information on collective land and natural resource rights around the world. The 
                                    span.introTextSub Global Platform
                                    |  supports local livelihoods and well-being by increasing the visibility of indigenous and community lands, and presenting crucial information on the state of land rights. It provides indigenous peoples and communities with a way to show the world the land and resources that they hold and use, and to be proactive in responding to the growing threats they face.
                                  p
                                    | The 
                                    a(href='http://www.ibcperu.org/' target='_blank' class='introTextSub') Instituto del Bien Com&uacute;n
                                    |  (IBC) and the World Resources Institute (WRI) have co-led the development of the 
                                    span.introTextSub  Global Platform
                                    |  with guidance from a Steering Group that includes some of the world&rsquo;s leading land rights organizations (see 
                                    a(href='about.html' class='introTextSub') About page
                                    | ).  The 
                                    span.introTextSub  Global Platform
                                    |  presents national and local level information, providing both an overview of collective land rights within each country and detailed information on the location and legal status of specific indigenous and communities lands.
                                  p
                                    | We need your help to ensure that the 
                                    span.introTextSub  Global Platform
                                    |  is current and comprehensive. The status of collective land rights and the state of indigenous and community lands can change when national laws and regulations are reformed, when communities map and demarcate their lands, and when indigenous peoples register their lands for formal recognition.
                                  p
                                    | We call on individuals and organizations with first-hand knowledge of indigenous and community lands to help complete the 
                                    span.introTextSub  Global Platform
                                    | .  Many representatives of indigenous peoples and communities, civil society organizations, governments and researchers from around the world have contributed to the current database, but there remain many gaps. We encourage all users to explore the 
                                    span.introTextSub  Global Platform
                                    | , provide feedback on how to improve the tool, and, for those who hold data, work with us to add your information on indigenous and community lands (
                                    a(href='contact.html' class='introTextSub') Contact Us
                                    ).
                    

        script(src='https://code.jquery.com/jquery-2.1.3.min.js')
        script(src='libs/foundation.min.js')
        script(src='//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js')

        script.
            var base = location.pathname.replace(/\/[^/]+$/, '');
            window.require = {
                baseUrl: base,
                packages: [
                    {name: 'libs', location: base + '/libs'},
                    {name: 'home', location: base + '/js/home'},
                    {name: 'main', location: base + '/js/home/main'}
                ]

            };

        script(data-main='js/home/homeLoader', src='libs/require.js')

        script.
            $(document).foundation();
            $("#home-page-link").addClass("exampleClass");
            $('#launch-map').click(function() {
                location.href = 'map.html';
            });
            // Thanks Foundation, Hack because the only foundation component
            // does not work on mobile unless I do this, but it works on the map page
            $('.toggle-topbar a').click(function(){});