doctype html
html
	head
		title LandMark: Global Platform of Indigenous and Community Lands
		meta(name='author', content='BlueRaster, WRI')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=7, IE=9, IE=10')
		link(rel='shortcut icon', type='image/png', href='css/images/favicon.png')
		style.
			html,body{height:100%;width:100%;padding:0;margin:0;overflow:hidden}	
		link(rel='stylesheet', href='css/base.css?#{appVersion}')
		link(rel='stylesheet', href='css/map.css?#{appVersion}')
		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Raleway:400,600,700')
		<!--[if lt IE 9]>
		script(src='libs/es5-shim.min.js')
		script(src='libs/es5-sham.min.js')
		script(src='libs/html5shiv.js')
		<![endif]-->
	body.tundra.crl
		div.app-body
			include templates/mapBody.jade
		div.hidden
			div(id='analysis-dialog',title='Create an area to analyze',data-dojo-type='dijit/Dialog')
				div(id='analysis-content')
					p Draw an area on the map or upload a shapefile to display a list of indigenous and community lands in your area of interest. Then click on your area to view the results.
					div.analysis-buttons
						button#draw-shape
							span#draw-shape-icon &#9998; 
							span#draw-shape-words Draw Shape
						button#upload-shapefile Upload File
						button(id='remove-graphics',class='hidden') Remove All

					div(id='upload-form-content',class='hidden')
						hr
						ul.upload-instructions
							li Select a zip file(.zip) containing a shapefile(.shp,.dbf,.prj) from your local file system.
							li The shapefile must be in Geographic Coordinate System (WGS84).
							li The shapefile must not exceed 1 Megabyte.
							li Or, select a CSV from your local file system. The CSV should contain a header row with columns for Name, Latitude, and Longitude.
						form(enctype='multipart/form-data',method='post',id='uploadForm',name='uploadForm')
							label
								input(type='file',name='file',id='shapefileUpload')
							//- These Normally dont need to be included but this fails on first upload
							//- because esri is too slow to add them in programmatically, possibly because
							//- this is nested inside a dijit/Dialog
							input(type='hidden',name='publishParameters',value='{}')
							input(type='hidden',name='filetype',value='shapefile')
							input(type='hidden',name='f',value='json')
							//- End not normally needed inputs
						div(id='uploadNameSelectContainer')
			div(id='help-dialog-indigenous',title='Layer Info',data-dojo-type='dijit/Dialog')
				p Indigenous Lands or territories refer to the collectively-held and governed lands of Indigenous Peoples... 
					a(href='http://www.landmarkmap.org/data/#data-1' target='_blank') Read More 
			div(id='help-dialog-community',title='Layer Info',data-dojo-type='dijit/Dialog')
				p Community Lands are all lands that fall under the customary governance of the community whether or not this is recognized in national law... 
					a(href='http://www.landmarkmap.org/data/#data-1' target='_blank') Read More
			div(id='help-dialog-completeness',title='Analysis Tool',data-dojo-type='dijit/Dialog')
				p This tool allows you to upload or draw a custom area to analyze indigenous and community lands. 


		script(async, src='libs/FileSaver.js')
		script(async, src='libs/fabric.min.js')
		script(async, src='libs/pdfkit.js')
		script(async, src='libs/blob-stream-v0.1.2.js')
		script(async, src='js/dojoBootstrap.js?#{appVersion}')
		script(type='text/javascript').
			var addthis_share = {
				url_transforms: {
					shorten: {
						twitter: 'bitly',
						facebook: 'bitly'
					}
				},
				shorteners: {
					bitly: {}
				}
			}; //end addThis_share
		script(async, src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53ab205a21ddceee&async=1')
